{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block head %}
    {{ parent() }}
    <title>Twinkler - First Group</title>
{% endblock %}

{% block signuplogin %}
    <a href="{{ path('fos_user_registration_register') }}">Sign up</a>
{% endblock %}

{% block fos_user_content %}

<div class="new-group row">
    <div style="text-align: center">
        <div class="flat-container" style="width: 100%;">
            <div class="flat-header">
                <h3>Create your first group of friends</h3>
            </div>
            <form action="{{ path('tk_welcome_create_group') }}" method="post" {{ form_enctype(form) }}>
                <div class="new-group-content">
                        {{ form_errors(form) }}

                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, 
                        { attr : { 'placeholder' : 'Ex: The Jets, Wicked Flat, ...'} }) }}
                    <div class="currency">
                        <span>Select your Currency</span>
                        {{ form_errors(form.currency) }}
                        {{ form_widget(form.currency) }}
                    </div>
                        {{ form_rest(form) }}
                </div>

                <div class="flat-footer">
                    <input type="submit" value="Create Group" class="btn btn-large btn-warning" style="border:none;"/>
                </div>
            </form>
            
        </div>
    </div>
</div>

{% endblock fos_user_content %}

