
{% extends ':emails:template.email.twig' %}

{% block teaser1 %}

{% set currency = group.currency.symbol %}

<div style="margin-left:auto; margin-right:auto; text-align: center">
	This is a friendly summay of your group <font style="color:#F97E76">{{ group.name }}</font> total expenses on Twinkler sent by <font style="color:#F97E76">{{ user }}</font>.
	{% if message %}
	<p style="padding: 0px 20px;"><b>{{ user }} says:</b> "{{ message|capitalize }}"<p>
	{% endif %}
	<table class="frc tsr1" width="80%" border="0" cellpadding="0" cellspacing="0" style="display: inline-block; border: 10px solid  rgb(234, 243, 255); text-decoration: none; color: rgb(84, 134, 198); font-size: 14px; font-weight: bold; text-align: center; padding: 0px 0px; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; margin-top:10px">
		<tr>
			<td style="padding: 0px 15px; margin-left: 15px;background-color: white;color:rgb(80,80,80); height:40px; width:80%">
				The total amount of expenses is:
			</td>
			<td style="padding: 0px 15px;background-color: white;border-left: 1px solid  rgb(234, 243, 255);color:rgb(80,80,80); height:40px;width:18%">
				<font style="color:#0088CC;">{{ currency }} {{ group.totalPaid }}</font>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px 15px;background-color: white;border-top: 1px solid  rgb(234, 243, 255);color:rgb(80,80,80); height:40px">
				So far, you paid:
			</td>
			<td style="padding: 0px 15px;background-color: white;border-left: 1px solid  rgb(234, 243, 255);border-top: 1px solid  rgb(234, 243, 255);color:rgb(80,80,80); height:40px">
				<font style="color:#0088CC;">{{ currency }} {{ member.totalPaid }}</font>
			</td>
			<tr>
				<td style="padding: 0px 15px;background-color: white;border-top: 1px solid  rgb(234, 243, 255);color:rgb(80,80,80); height:40px">
					Your current balance:
				</td>
				<td style="padding: 0px 15px;background-color: white;border-left: 1px solid  rgb(234, 243, 255);border-top: 1px solid  rgb(234, 243, 255);color:rgb(80,80,80); height:40px">
					<font style="color:#0088CC;">{{ currency }}  {{ member.balance }}</font>
				</td>
			</tr>
		</tr>
	</table>
	<br>
	<br>

	{% if debts|length > 0 %}

	This is the easiest way to pay back each other is:
</div>
<!-- separator -->
<table class="frc sep_empty" width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td height="17">&nbsp;</td>
	</tr>
</table>
<!-- /separator -->
<div>
	<table class="frc tsr1" border="0" cellpadding="0" cellspacing="0" style="border: 10px solid  rgb(234, 243, 255); text-decoration: none; color: rgb(84, 134, 198); font-size: 14px; font-weight: bold; text-align: center; padding: 15px 0px; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px;"  width="80%">
		<tbody width="100%" style=" text-align: center; width:100%">
			{% for debt in debts %}
			<tr style=" text-align: center; width:100%; margin-left:auto; margin-right:auto">
				<td style="padding: 0px 0px; background-color: white;color:rgb(80,80,80); text-align: center; width:100%">
					<div style="text-align:center; margin-left:auto; margin-right: auto;">
						<font style="color:#F97E76">{{ debt[0].name }}</font> 
						gives 
						<font style="color:#0088CC;">{{ currency }} {{ debt[1] }}</font> 
						to 
						<font style="color:#F97E76">{{ debt[2].name }}</font>
					</div> 
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
	
	{% else %}
	</div>
	{% endif %}

{% endblock %}



