{% extends 'TkUserBundle:Profile:show.html.twig' %}

{% block title_profile %}Edit your Profile{% endblock %}

{% block profile %}

	<form id="edit-user-info" action="{{ path('tk_user_profile_edit', { 'id' : app.user.id }) }}" method="post" {{ form_enctype(form) }}>
	    {{ form_errors(form) }}

	    {{ form_row(form.username) }}
	    {{ form_row(form.firstname) }}
	    {{ form_row(form.lastname) }}
	    {{ form_row(form.email) }}

	    {{ form_rest(form) }}

	    <div class="button" style="margin-bottom:10px;">
			<input type="submit" class="btn btn-success" value="Save changes"/>
			<a class="btn" href="{{ path('tk_user_homepage') }}">Cancel</a>
		</div>    
	</form>

{% endblock %}