<form action="{{ path('tk_user_profilepicture_edit') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    <div>
        {{ form_row(form.file) }}
    </div>

    {{ form_rest(form) }}

    <input type="submit" value="Upload Document"/>

</form>
