{% extends 'TkUserBundle::frame.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/user-info.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<div class="container">
	<div class="row">
		<div class="span4">
		</div>
		<div class="span4" style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
			<div class="member">
				{% if app.user.facebookId %}
				<img class="img-circle" src="http://graph.facebook.com/{{app.user.facebookId}}/picture?width=200&height=200" width="70px" alt="profile picture"/>
				{% else %}
				<a href="#uploadPictureModal" role="button"	 data-toggle="modal">
					<img class="img-circle" src="{{ asset(app.user.picture.path) }}" width="70px" alt="profile picture"/>
				</a>
				{% endif %}
			</div>
			{% include 'TkUserBundle:Profile:uploadPictureModal.html.twig' %}
		</div>
		<div class="span4">
		</div>
	</div>
</div>
{% endblock %}

{% block selectionmenu %}
 <div class="selection-menu">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="user-name">
					{{ app.user|capitalize}}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="span4 offset1">
		<div id="user-info" class="flat-container" style="width: 100%">
			<div class="flat-header">
				<h3>Your Information</h3>
			</div>
			<div id="profile-stats">
				<div class="info-icon">
					<i class="icon-thumbs-up-alt icon-large"></i>
				</div>
				<div class="info-text" style="margin-right: 2%;">
					{{ app.user.members|length }} Groups
				</div>
				<div class="info-icon">
					<i class="icon-smile icon-large"></i>
				</div>
				<div class="info-text">
					{{ app.user.friends|length }} Friends
				</div>
			</div>
			
			<div style="padding-top:0px; border-top: solid 1px #eaedf2; margin-bottom: 20px;">	
				{% block profile %}
				{% if app.user.firstname != null or app.user.lastname != null %}
				 <div class="profile-info">
				 	<div class="info-icon">
				 		<i class="icon-user icon-large"></i>
				 	</div>
				 	<div class="info-text">
				 		<p>{{ app.user.firstname }} {{ app.user.lastname }} </p>
				 	</div>
				 </div>
				{% else %}
				<div class="profile-info">
				 	<div class="info-icon">
				 		<i class="icon-user icon-large"></i>
				 	</div>
				 	<div class="info-text">
				 		<p> Edit your Name </p>
				 	</div>
				 </div>
				{% endif %}
				<div class="profile-info">
				 	<div class="info-icon">
				 		<i class="icon-envelope icon-large"></i>
				 	</div>
				 	<div class="info-text">
				 		<p> {{ app.user.email }}</p>
				 	</div>
				 </div>
			</div>
			
			{% if not is_granted('ROLE_FACEBOOK') %}
			<div id="setting-buttons" style="text-align: center;">
				<a id="change-password" data-toggle="collapse" data-target="#collapsePassword" style="color:#5486C6; font-size:12px">
					<i class="icon-lock icon-large"></i>
					Change password
				</a>		
			</div>	
			{% endif %}
			<div class="edit-info flat-btn flat-pk flat-large">	
				<a class="edit-info-a" href="{{ path('tk_user_profile_edit', { 'id' : app.user.id }) }}">	
					<div>
						<i class="icon-edit icon-large"></i>
						Edit information
					</div>		
				</a>				
			</div>
			<div id="collapsePassword" class="collapse out">
				<div class="accordion-inner well" style="width: 80%; margin-left: auto; margin-right: auto">
					{% render(controller('FOSUserBundle:ChangePassword:changePassword')) %}
				</div>
			</div>
			{% endblock profile %}
		</div>
	</div>	


	<div class="span6">
		<div id="group-summary" class="flat-container">
			<div class="flat-header" style="height:34px;min-height:34px; margin-bottom:10px">
				<div>
					<h3>You have {{app.user.members|length}} Groups</h3>
				</div>
				<a href="{{ path('tk_group_new') }}">
					<div id="start-group-btn">
						<i class="icon-plus" style="color:#fcd5d2;"></i> start new group
					</div>
				</a>
			</div>

			{% if app.user.members|length == 0 %}
			</p>You do not have any group yet</p>
			{% else %}
			<div class="accordion" id="accordion2">
				{% for member in app.user.members %}
				<div class="accordion-group group-box">
					<div class="accordion-heading" style="display:inline-block; position:relative; width:100%;">
						<div class="accordion-group-icon" style="width: 60px">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion-{{ member.id }}" style="display: inline-block"><img src="{{ asset('img/Frame/group-icon.png') }}"	width="40px" alt="show members"></a>
						</div>
					    <div>
							<a href="{{ path('tk_group_goto_member', { 'id' : member.id }) }}"  style="display: inline-block; margin-left: 45px; color:#F97E76">
								<strong>{{ member.tgroup.name|capitalize }}</strong>
							</a>
							<p style="display: inline-block; color:#8C8C8C;font-size:12px; text-align: right; float: right; margin-right: 30px"><small>opened on {{ member.tgroup.date| date('d/m/y') }}</small></p>
					    </div>
						<div>
							<div  class="accordion-heading-middle" style="display: inline-block; float: left; margin-left: 45px">
								<a href="{{ path('tk_group_goto_expenses', { 'id' : member.id }) }}">
									Go to Expenses
								</a> |
								<a href="{{ path('tk_group_goto_lists', { 'id' : member.id }) }}">
									Go to Lists
								</a>
							</div>
							<div class="accordion-heading-right" style="display: inline-block; float: right; margin-right:30px;">
								<a href="{{ path('tk_group_goto_expenses', { 'id' : member.id }) }}">
									<p>Your balance: 
										{% if member.balance >= 0 %}
										<span style="color: #a8bd44; font-family:'Asap-regular'; display:inline-block"><b>{{ member.balance }} {{member.tgroup.currency.symbol}}</b></span>
										{% else %}
										<span style="color: #f97e76; font-family:'Asap-regular';display:inline-block"><b>{{ member.balance }} {{member.tgroup.currency.symbol}}</b></span>
										{% endif %}
									</p>
								</a>
							</div>
						</div>
					</div>
				    <div id="accordion-{{ member.id }}" class="accordion-body collapse out">
				      	<div class="accordion-inner">
					        <div>
								{% for m in member.tgroup.members %}
								<div style="display: inline-block">
									{% if m.user %}
									{% if m.user.facebookId %}
									<img src="http://graph.facebook.com/{{m.user.facebookId}}/picture?width=120&height=120" class="img-circle" width="60px" 	alt="{{ m.name }}" style="position: relative">
									{% else %}
									<img src="{{ asset(m.user.picture.path) }}" class="img-circle" width="60px" 	alt="{{ m.name }}" style="position: relative">
									{% endif %}
									{% else %}
									<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" width="60px" 	alt="{{ m.name }}" style="position: relative">
									{% endif %}
									<p>{{m.name}}</p>
								</div>
								{% endfor %}
							</div>
				      	</div>
				    </div>
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<div><a href="{{ path('tk_group_new') }}" class="flat-btn flat-pk" style="height: 60px; width: 100%; margin-top: 10px; line-height: 60px;">START A NEW GROUP</a></div>
	</div>
</div>
{% endblock %}
