{% extends 'TkUserBundle::frame.html.twig' %}

{% block title %}   
<title> {{app.user}} </title>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/user-info.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<div class="container">
	<div class="row">
	</div>
</div>
{% endblock %}

{% block selectionmenu %}
<div class="selection-menu min-770">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="user-name">
					Hey {{ app.user|capitalize}}, nice to see you!
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4 col-md-offset-1">
		<div id="user-info" style="width: 100%">
			<div class="section-header">
				<div class="navbar navbar-inverse">
					<div class="navbar-header">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
					</div>            
					<div class="navbar-collapse collapse" id="nav-collapse-01">
						<ul class="nav">
							<li>
								<h2>Your Profile</h2>
							</li>
							<li>
								<a href="">
									<i class="icon-gear icon-large"></i>
								</a>
								<ul class="section-header-dropdown">
									<li><a href="{{ path('tk_user_profile_edit', { 'id' : app.user.id }) }}">Edit Information</a></li>
									<li><a href="#uploadPictureModal" role="button"	data-toggle="modal">Change Profile Picture</a></li>
									{% if app.user.password %}
									<li><a href="#changePasswordModal" role="button" data-toggle="modal">Change Password</a></li>
									{% endif %}
								</ul> <!-- /Sub menu -->
							</li>
						</ul>
					</div><!--/.nav -->
				</div>
			</div>

			<div class="flat-container" style="width:100%">

				<div class="profile-pic-container" >
					<div class="profile-pic-info">
						{% if app.user.facebookId %}
						<img class="img-circle" src="http://graph.facebook.com/{{app.user.facebookId}}/picture?width=200&height=200" width="70px" alt="profile picture"/>
						{% else %}
						<img class="img-circle" src="{{ asset(app.user.picture.path) }}" width="70px" alt="profile picture"/>
						{% endif %}
					</div>

					<div class="profile-pic-user">
						<small style="line-height: 0px">Your Username</small>
						<p> {{ app.user | upper }}</p>
					</div>
				</div>

				<div style="padding-top:0px; border-top: solid 1px #eaedf2; margin-bottom: 20px;">	
					{% block profile %}
					{% if app.user.firstname != null or app.user.lastname != null %}
					<div class="profile-info">
						<div class="info-text">
							<p>{{ app.user.firstname }} {{ app.user.lastname }} </p>
						</div>
					</div>
					{% else %}
					<div class="profile-info">
						<div class="info-text">
							<a href="{{ path('tk_user_profile_edit', { 'id' : app.user.id }) }}"><p style="color: #C8C8C8">Please edit your name</p></a>
						</div>
					</div>
					{% endif %}
					<div class="profile-info">
						<div class="info-text">
							<p>{{ app.user.email }}</p>
						</div>
					</div>
					{% endblock profile %}
				</div>

			</div>
			{% include 'TkUserBundle:Profile:uploadPictureModal.html.twig' %}
			{% render(controller('FOSUserBundle:ChangePassword:changePassword')) %}

		</div>
	</div>	


	<div class="col-md-6">
		<div id="group-summary" >
			<div class="section-header">
				<div class="navbar navbar-inverse">
					<div class="navbar-header">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
					</div>            
					<div class="navbar-collapse collapse" id="nav-collapse-01">
						<ul class="nav">
							<li>
								<h2>Your Groups ({{app.user.members|length}})</h2>
							</li>
							<li>
								<a href="{{ path('tk_group_new') }}">
									<i class="icon-plus icon-large"></i>
								</a>
							</li>
						</ul>
					</div><!--/.nav -->
				</div>
			</div>


			{% if app.user.members|length == 0 %}

		</p>You do not have any group yet</p>
		{% else %}
		{% for member in app.user.members %}
		<a class="group-link" data-id="{{member.id}}" href="{{ path('tk_group_goto_member', { 'id' : member.id }) }}">
			<div class="flat-container accordion-group group-box">
				<div class="accordion-heading" style="display:inline-block; position:relative; width:100%;">
					<div class="accordion-heading-middle">
						<font>{{ member.tgroup.name|capitalize }}</font><img class="group-spinner" id="spinner-{{member.id}}" src="{{ asset('img/Frame/spinner-group.gif')}}" width="20px" style="display: none; margin-left: 5px;" alt="spinner"/>
						<p> <font style="color:#8C8C8C;font-size:16px; color:#BEB5B2">opened on {{ member.tgroup.date| date('d/m/y') }}</font></p>
					</div>
					<div class="accordion-heading-right">
						<p>
							{% if member.balance >= 0 %}
							<font style="font-size: 14px; color:#BEB5B2">YOU ARE OWED:</font><br>
							<span style="color: #a8bd44; font-family:'Asap-regular'; display:inline-block"><b>{{ member.balance }} {{member.tgroup.currency.symbol}}</b></span>
							{% else %}
							<font style="font-size: 14px; color:#BEB5B2">YOU OWE:</font><br>
							<span style="color: #f97e76; font-family:'Asap-regular';display:inline-block"><b>{{ member.balance }} {{member.tgroup.currency.symbol}}</b></span>
							{% endif %}
						</p>
					</div>
				</div>

			</div>
		</a>
		{% endfor %}
		{% endif %}
	</div>
	<a href="{{ path('tk_group_new') }}">
		<div id="new-group-button">
			<i class="icon-plus-sign" style="margin-right: 6px"></i> Start a New Group
		</div>
	</a>
</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type='text/javascript' src="{{ asset('js/user-info.js') }}"></script>
{% endblock %}