{% extends 'TkUserBundle::frame.html.twig' %}

{% block title %}   
<title> {{app.user}} </title>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/user-info.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<div class="container">
	<div class="row">
	</div>
</div>
{% endblock %}

{% block selectionmenu %}
<div style="margin-bottom:40px"></div>
<div class="selection-menu">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="user-name">
					Hey {{ app.user|capitalize}}, nice to see you!
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="span4 offset1">
		<div id="user-info" style="width: 100%">
			<div id="info-header" class="flat-container">
				<div class="flat-header">
					<h3> <font  style="color:#fff">YOUR INFORMATION</font></h3>
				</div>
			</div>

			<div class="flat-container" style="width:100%">

				<div class="profile-pic-container" >
					<div class="profile-pic-info">
						{% if app.user.facebookId %}
						<img class="img-circle" src="http://graph.facebook.com/{{app.user.facebookId}}/picture?width=200&height=200" width="70px" alt="profile picture"/>
						{% else %}
						<a href="#uploadPictureModal" role="button"	 data-toggle="modal">
							<img class="img-circle" src="{{ asset(app.user.picture.path) }}" width="70px" alt="profile picture"/>
						</a>
						{% endif %}
					</div>
					{% include 'TkUserBundle:Profile:uploadPictureModal.html.twig' %}

					<div class="profile-pic-user">
						<p> {{ app.user | upper }}</p>
					</div>
				</div>

				<div id="profile-stats">
					<div class="info-icon">
						<i class="icon-thumbs-up-alt icon-large"></i>
					</div>
					<div class="info-text">
						{{ app.user.members|length }} Groups
					</div>
					<div class="info-icon">
						<i class="icon-smile icon-large"></i>
					</div>
					<div class="info-text">
						{{ app.user.friends|length }} Friends
					</div>
				</div>
				
				<div style="padding-top:0px; border-top: solid 1px #eaedf2; margin-bottom: 20px;">	
					{% block profile %}
					{% if app.user.firstname != null or app.user.lastname != null %}
					<div class="profile-info">
						<div class="info-icon">
							<i class="icon-user icon-large"></i>
						</div>
						<div class="info-text">
							<p>{{ app.user.firstname }} {{ app.user.lastname }} </p>
						</div>
					</div>
					{% else %}
					<div class="profile-info">
						<div class="info-icon">
							<i class="icon-user icon-large"></i>
						</div>
						<div class="info-text">
							<p> Edit your Name </p>
						</div>
					</div>
					{% endif %}
					<div class="profile-info">
						<div class="info-icon">
							<i class="icon-envelope icon-large"></i>
						</div>
						<div class="info-text">
							<p> {{ app.user.email }}</p>
						</div>
					</div>
				</div>
				
				{% if not is_granted('ROLE_FACEBOOK') %}
				<div id="setting-buttons" style="text-align: center;">
					<a id="change-password" data-toggle="collapse" data-target="#collapsePassword" style="color:#BEB5B2; font-size:12px;">
						<i class="icon-lock icon-large"></i>
						Change password
					</a>		
				</div>	
				{% endif %}
				<div class="edit-info flat-btn flat-pk flat-large">	
					<a class="edit-info-a" href="{{ path('tk_user_profile_edit', { 'id' : app.user.id }) }}">	
						<div>
							<i class="icon-edit icon-large"></i>
							<font style="font-size:12px">EDIT INFORMATION</font>
						</div>		
					</a>				
				</div>
				<div id="collapsePassword" class="collapse out">
					<div class="accordion-inner well" style="width: 80%; margin-left: auto; margin-right: auto">
						{% render(controller('FOSUserBundle:ChangePassword:changePassword')) %}
					</div>
				</div>
				{% endblock profile %}
			</div>
			<div id="feedback-link" >
				<a data-target="feedbackModal">Any feedbacks?</a>
			</div>
			<div id="feedbackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<!-- Loaded with ajax -->
			</div>
		</div>
	</div>	


	<div class="span6">
		<div id="group-summary" >
			<div id="groups-header" class="flat-container">
				<div class="flat-header">
					<h3> <font  style="color:#fff">YOUR GROUPS ({{app.user.members|length}})</font></h3>
				</div>
			</div>

			{% if app.user.members|length == 0 %}

		</p>You do not have any group yet</p>
		{% else %}
		{% for member in app.user.members %}
		<a  href="{{ path('tk_group_goto_member', { 'id' : member.id }) }}">
			<div class="flat-container accordion-group group-box">
				<div class="accordion-heading" style="display:inline-block; position:relative; width:100%;">
					<div class="accordion-heading-middle">
						<font style="color:#000;font-size: 14px;"> <strong>{{ member.tgroup.name|upper }}</strong></font>
						<p> <font style="color:#8C8C8C;font-size:14px;"><small>opened on {{ member.tgroup.date| date('d/m/y') }}</small></font></p>
					</div>
					<div class="accordion-heading-right">
						<p>
							{% if member.balance >= 0 %}
							<font style="font-size: 12px; color:#BEB5B2">YOU ARE OWED:</font><br>
							<span style="color: #a8bd44; font-family:'Asap-regular'; display:inline-block"><b>{{ member.balance }} {{member.tgroup.currency.symbol}}</b></span>
							{% else %}
							<font style="font-size: 12px; color:#BEB5B2">YOU OWE:</font><br>
							<span style="color: #f97e76; font-family:'Asap-regular';display:inline-block"><b>{{ member.balance }} {{member.tgroup.currency.symbol}}</b></span>
							{% endif %}
						</p>
					</div>
				</div>

			</div>
		</a>
		{% endfor %}
		{% endif %}
	</div>
	<a href="{{ path('tk_group_new') }}">
		<div id="new-group-button">
			<i class="icon-plus-sign" style="margin-right: 6px"></i> START A NEW GROUP
		</div>
	</a>
</div>
</div>
{% endblock %}

{% block javascripts %}
<script type='text/javascript' src="{{ asset('js/user-info.js') }}"></script>
{% endblock %}