{% set group = app.user.currentMember.tgroup %}
{% set currency = app.user.currentMember.tgroup.currency.symbol %}

<div class="row" align="center">
	<div class="group-action col-md-3">

		<div class="section-header">
			<div class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
				</div>            
				<div class="navbar-collapse collapse" id="nav-collapse-01">
					<ul class="nav">
						<li>
							<h2> {{ group.name|capitalize }}</h2>
						</li>
					</ul>
				</div><!--/.nav -->
			</div>
		</div>
		<div id="group-edit-list" class="group-info group-edit flat-container">
			<ul>
				<li>
					<a class="edit-group-a" href="{{ path('tk_group_add_members') }}">
						<div id="action-bar-first-child" style="width:100%; height:100%; padding-top: 10px">
							ADD A FRIEND <i class="icon-plus-sign" style="float:right; margin-right: 15px"></i> 
						</div>
					</a>
				</li>
				<li>
					<a id="remove-member">						
						<div style="width:100%; height:100%; padding-top: 10px">
							<i class="icon-minus-sign" style="float:right; margin-right: 15px"></i>   
							REMOVE A MEMBER
						</div>		
					</a>
				</li>			
				<div id="remove-member-box" class="action-box" style="display: none">	
					<div class="well">
						{% include 'TkGroupBundle:GroupActions:removeMembers.html.twig' %}
					</div>
				</div>
				<li>
					<a id="edit-group" >	
						<div style="width:100%; height:100%; padding-top: 10px">
							<i class="icon-edit" style="float:right; margin-right: 15px"></i>   
							EDIT GROUP INFO
						</div>			
					</a>
				</li>
				<div id="edit-group-box"  class="action-box" style="display: none">	
					<div class="well">
						{% render(controller('TkGroupBundle:Default:edit')) %}
					</div>
				</div>
				<li>
					<a id="close-group">	
						<div style="width:100%; height:100%; padding-top: 10px">
							<i class="icon-signout" style="float:right; margin-right: 15px"></i>   
							CLOSE GROUP
						</div>			
					</a>
				</li>
				<div id="close-group-box" class="action-box" style="display: none">
					<div class="well">
						<p>Are you sure you want to close the group <b>{{ app.user.currentMember.tgroup.name }}</b> ?</p>
						<small>You will not be able to access this group anymore</small>
						<p><a href="{{ path('tk_group_close', { 'id' : app.user.currentMember.tgroup.id}) }}" class="btn btn-danger" style="margin: 20px;">Yes</a><a class="btn cancel-action">Cancel</a></p>
					</div>
				</div>
			</ul>
		</div>	
		<div >
			
		</div>
	</div>
	<div class="col-md-6">
		{% set balance = app.user.currentMember.balance %}

		<div class="section-header">
			<div class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
				</div>            
				<div class="navbar-collapse collapse" id="nav-collapse-01">
					<ul class="nav">
						<li>
							<h2>
								{% if balance > 0 %}
								YOU ARE OWED {{currency}} {{balance}}
								{% elseif balance < 0 %}
								YOU OWE {{currency}} {{balance}}</h2>
								{% else %}
								NO DEBTS
								{% endif %}
							</h2>
						</li>
					</ul>
				</div><!--/.nav -->
			</div>
		</div>

		<div id="my-settlement" class="flat-container">
			{% if debts|length == 0 %}
			<p style="margin-top: 10px; color:rgb(67,113,191)">No debts at all, lucky you !</p>
			{% else %}

			<div class="payback-table">
				<table>
					{% for debt in debts %}
					<tr style="height: 30px;" data-payer="{{debt[0].id}}" data-amount="{{debt[1]}}" data-paid="{{debt[2].id}}">
						<td style="text-align: left; overflow: hidden;"><div id="my-payback-owner">{{ debt[0].name }}<div id="payback-cta">CLICK TO PAYBACK</div></div></td> 
						<td class="payback-text">gives </td>
						<td style="color:#99B335;">{{ currency }} {{ debt[1] }}</td>
						<td class="payback-text"> to </td>
						<td style="text-align: left;">{{ debt[2].name }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% endif %}
		</div>
		{% include 'TkGroupBundle:Dashboard:settleDebtsModal.html.twig' %}

		<div class="payback-container">
                <div class="btn-group">
                  <a  id="new-payback"  class="btn" role="button"  data-toggle="modal">Record a Payback</a>
                  <a class="btn" href="#settleDebtsModal" role="button"  data-toggle="modal" style="border-left: solid 2px #95a5a6;border-right: solid 2px #95a5a6">Settle all Debts</a>
                  <a id="send-summary" class="btn" href="#sendSummaryModal" role="button"  data-toggle="modal">Send a Summary</a>
                </div>
		</div>
		<div id="modal" class="modal fade .paybackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		</div>	
		
	</div>
	<div class="col-md-3">
		<div class="section-header">
			<div class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
				</div>            
				<div class="navbar-collapse collapse" id="nav-collapse-01">
					<ul class="nav">
						<li>
							<h2>
							Balance
							</h2>
						</li>
					</ul>
				</div><!--/.nav -->
			</div>
		</div>

		<div id="chart-balance" class="flat-container">
			<div id="blce-tbl" class="balance-table-container">
				<table id="balance-table">

				</table>
			</div>
		</div>
		
	</div>
</div>