{% set group = app.user.currentMember.tgroup %}

<div class="modal-dialog">

	<form action="{{ path('tk_dashboard_summary_send') }}" method="post">
		<div class="modal-content">
			<div class="modal-header">
				<h3 style="margin:0px">SEND A SUMMARY</h3>
			</div>

			<div class="modal-body">
				<div class="settle-debt-content">
					<p>Send a summary of <b>{{ group.name }}</b> to the members</p>
				</div>
				<div>
					<textarea rows="2" id="message-input" class="form-control" name="_message" placeholder="Leave a message (optional)" style="width:80%;"/>
				</div>
				<div class="settle-debt-member">
					<div id="expense-slimscroll">
						<table>
							{% for member in group.members %}

							<tr>
								{% if member.user %}
								<td class="td-checkbox">
								<label class="checkbox" for="checkbox1">
									<input type="checkbox" id="checkbox1"  name="_send_email_{{member.id}}" value="on" checked="checked" data-toggle="checkbox"/>
									</label>
								</td>
								{% if member.user.facebookId %}
								<td class="td-profilepic">
									<img src="http://graph.facebook.com/{{member.user.facebookId}}/picture?width=100&height=100" class="img-circle" width="30px" alt="{{ member.name }}" style="position: relative">
								</td>
								{% else %}
								<td class="td-profilepic">
									<img src="{{ asset(member.user.picture.path) }}" class="img-circle" width="30px" alt="{{ member.name }}" style="position: relative">
								</td>
								{% endif %}
								<td>
									<span>{{ member.name }}</span>
								</td>
								<td style="overflow: hidden">
									<strong>
										<span>{{ member.user.email }}</span>
									</strong>
								</td>
								{% else %}
								<td class="td-checkbox">
								<label class="checkbox" for="checkbox1">
									<input id="checkbox1" type="checkbox" name="_send_email_{{member.id}}" value="on" checked="checked" data-toggle="checkbox"/>
								</label>
								</td>
								<td class="td-profilepic">
									<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" width="30px" class="img-circle" alt="{{member.name}}">
								</td>
								<td>
									<span>{{ member.name }}</span>
								</td>
								<td>
									<input type="text" id="email-input" name="_email_{{member.id}}" maxlength="255" value="{{ member.email }}"/>
								</td>


								{% endif %}
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<input class="btn btn-success" type="submit" value="Send Summary"></a>
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			</div>
		</div>
		
	</form>
</div>

<script language="javascript">
$('[data-toggle="checkbox"]').each(function () {
  $(this).checkbox();
});

if($('#expense-slimscroll').height()>180){
	expenseSlimscroll('180');
}
</script>
