<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="fb:app_id"          content="130641483808717" />
        <meta property="fb:admins"          content="657231643" />
        
        {% block facebook_metatags %}
        <meta name="description" content="Twinkler is the most beautiful, simple and convenient place to manage group expenses">
        <meta name="author" content="Twinkler team">

        <meta property="og:url"             content="http://www.twinkler.co" />
        <meta property="og:type"            content="website" />
        <meta property="og:site_name"       content="Twinkler.co"/>  
        <meta property="og:title"           content="Manage Group Expenses" /> 
        <meta property="og:description"     content="Twinkler is the most beautiful and convenient way to share group expenses and pay back your friends" /> 
        <meta property="og:image"           content="http://www.twinkler.co/img/landing-page/Fb-pic.png" />
        {% endblock %}

        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('flat-ui/css/flat-ui.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bootstrap/css/bootstrap-select.min.css') }}" rel="stylesheet">
        <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font.css') }}" rel="stylesheet">
        <link href="{{ asset('css/flat-design.css') }}" rel="stylesheet">
        <link href="{{ asset('datepicker/css/datepicker.css') }}" rel="stylesheet">
        <link rel="icon"  type="image/png" href="{{ asset('img/logo/favicon.png') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body id="page-body">
        {% include ':external:facebook.html.twig' %}

        {% block body %}
        {% endblock %}
        
        <div id="javascripts">
            <script src="{{ asset('js/jquery-1.10.1.js')}}"></script>
            <script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js')}}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>      
            <script src="{{ asset('js/chart.js') }}"></script>
            <script src="{{ asset('js/jquery.nicescroll.js') }}"></script>
            <script src="{{ asset('js/jquery.slimscroll.min.js') }}"></script>
            <script src="{{ asset('flat-ui/js/flatui-checkbox.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap-select.js') }}"></script>
            <script src="{{ asset('datepicker/js/bootstrap-datepicker.js') }}"></script>
            {% block javascripts %}
            {% endblock %}
        </div>
        
        {% include ':external:googleAnalytics.html.twig' %}

        <!-- Mouseflow -->
        <script type="text/javascript">
            var _mfq = _mfq || [];
            (function() {
            var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
            mf.src = "//cdn.mouseflow.com/projects/bec3d3ee-9be3-4839-b47a-081a5f174422.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
            })();
        </script>
    </body>

    <!-- Facebook connect  -->
    <script>
    function fbLogin() {
        FB.getLoginStatus(function(response) {
            console.log(response.status);
            if (response.status === 'connected') {
                // the user is logged in and has authenticated your
                // app, and response.authResponse supplies
                // the user's ID, a valid access token, a signed
                // request, and the time the access token 
                // and signed request each expire
                var uid = response.authResponse.userID;
                var accessToken = response.authResponse.accessToken;
                top.location.href  = '{{ path('_security_check' ) }}';
            } else if (response.status === 'not_authorized') {
                // the user is logged in to Facebook, 
                // but has not authenticated your app
                FB.login(function(response) {
                  if (response.status === 'connected') {
                    //user is logged in, reload page
                    top.location.href  = '{{ path('_security_check' ) }}';
                  } else {
                    // user is not logged in
                    console.log('not logged in');
                  }
                }, {scope: 'email'});
            } else {
                // the user isn't logged in to Facebook.
                FB.login(function(response) {
                  if (response.status === 'connected') {
                    //user is logged in, reload page
                    top.location.href  = '{{ path('_security_check' ) }}';
                  } else {
                    // user is not logged in
                    console.log('not logged in');
                  }
                }, {scope: "email"});
            }
        });
    }
    </script>

    <script type="text/javascript" > // Script for FOSFacebookBundle
    $( document ).ready(function() { 
        if ($('body').height()<$(window).height()){
            $('body').height($(window).height());
    }
    })

     window.onresize =function() {
        if ($('body').height()<$(window).height()){
            $('body').height($(window).height());
    }
    };
    </script>
</html>
