<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link rel="icon"  type="image/png" href="{{ asset('img/logo/favicon.png') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body>

    	<div class="container">
    		<div class="row">
    			<div class="span6">
    				<h3>Input</h3>
    				<div>
    					<h4>Get token</h4>
                        <a class="btn btn-success" id="get-token" href="#">Get token</a>
                    </div>
                    <div>
                        <h4>Send Money</h4>
    					<form action="{{ path('smoney_send') }}" method="post">
    						<label for="beneficiary">Beneficiary*</label>
							<input type="text" id="beneficiary" name="beneficiary" maxlength="255" value="0698907851" required/>
                            <label for="transmitter">Transmitter (optional)</label>
                            <input type="text" id="transmitter" name="transmitter" maxlength="255" placeholder="Sub account identifier"/>
                            <label for="amount">Amount (€)*</label>
                            <input type="text" id="amount" name="amount" maxlength="255" value="50"required/>
                            <label for="message">Message (optional)</label>
                            <input type="text" id="message" name="message" maxlength="255" placeholder="ex: Lunch, beers, ..."/>
                            <label for="access_token">Access Token*</label>
                            <input type="text" id="access_token_1" name="access_token" maxlength="255"/>
                            <br>
                            <input id="send-money" type="submit" value="Send Money" class="btn btn-info"/>
                        </form>
    				</div>
                    <div>
                        <h4>Get money sent</h4>
                        <form action="{{ path('smoney_sent') }}" method="get">
                            <label for="access_token">Access Token*</label>
                            <input type="text" id="access_token_2" name="access_token" maxlength="255"/>
                            <br>
                            <input type="submit" value="List of payments passed" class="btn btn-warning"/>
                        </form>
                    </div>
                    <div>
                        <h4>Request Money</h4>
                        <form action="{{ path('smoney_request') }}" method="post">
                            <label for="receiver">Receiver*</label>
                            <input type="text" id="receiver" name="receiver" maxlength="255" value="0698907851" required/>
                            <label for="requester">Requester (optional)</label>
                            <input type="text" id="requester" name="requester" maxlength="255" placeholder="Sub account identifier"/>
                            <label for="amount">Amount (€)*</label>
                            <input type="text" id="amount" name="amount" maxlength="255" value="10"required/>
                            <label for="message">Message (optional)</label>
                            <input type="text" id="message" name="message" maxlength="255" placeholder="ex: Lunch, beers, ..."/>
                            <label for="access_token">Access Token*</label>
                            <input type="text" id="access_token_3" name="access_token" maxlength="255"/>
                            <br>
                            <input id="send-money" type="submit" value="Request Money" class="btn btn-info"/>
                        </form>
                    </div>
                    <div>
                        <h4>Get money requested</h4>
                        <form action="{{ path('smoney_requested') }}" method="get">
                            <label for="access_token">Access Token*</label>
                            <input type="text" id="access_token_4" name="access_token" maxlength="255"/>
                            <br>
                            <input type="submit" value="List of money requested" class="btn btn-warning"/>
                        </form>
                    </div>
    			</div>
    			<div class="span6">
    				<h3>Answer</h3>
    			</div>
    		</div>
    	</div>

        <div id="javascripts">
            <script src="{{ asset('js/jquery-1.10.1.js')}}"></script>
            <script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js')}}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/s-money.js') }}"></script>
        </div>

    </body>
</html>