{% extends 'TkUserBundle::frame.html.twig' %}

{% set group = app.user.currentMember.tgroup %}

{% block title %}   
<title> {{group.name}} </title>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/group-dashboard.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('css/group-chat.css') }}"      rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link href="{{ asset('css/group-expenses.css') }}"  rel="stylesheet" type="text/css">
{% endblock %}

{% block navbar_title %}
{{ group.name|capitalize }}
{% endblock %}

{% block header %}
<div id="second-row-big" class="row min-770" style="position: relative">
	<div id="group">
		<div id="pictures">
			<table>
				<tr>
					{% for member in group.members %}
					<td>
						<div class="member">
							{% if member.facebookId %}
								<img src="http://graph.facebook.com/{{member.facebookId}}/picture?width=100&height=100" class="img-circle" alt="{{ member.name }}" style="position: relative">
							{% else %}
								<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" alt="{{ member.name }}" style="position: relative">
							{% endif %}
						</div>						
					</td>
					{% endfor %}
					<td>
						<div class="member" style="vertical-align:top">
							<a href="{{ path('tk_group_add_members') }}">
								<img src="{{ asset('img/Frame/add-member.png') }}" class="img-circle" alt="Add Member" style="position: relative; ">
							</a>
						</div>
					</td>
				</tr>
				<tr>
					{% for member in group.members %}
					<td class="member-name-row">
						<div class="member">
							<p>{{ member.name }}</p>
						</div>
					</td>
					{% endfor %}
					<td class="member-name-row">
						<div class="member" style="vertical-align:top">
							<a href="{{ path('tk_group_add_members') }}">
								<p style="color:#BEB5B2">Add Member</p>
							</a>
						</div>
					</td>
				</tr>
			</table>
			<div id="group-flash-messages">
			</div>
		</div>
	</div>
</div>

<!-- modal for seing the profile of member -->
<div id="memberProfileModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<!-- content of the modal loaded via ajax -->
</div>

{% endblock %}


{% block selectionmenu %}
<div id="navbar-row" class="selection-menu" style="padding-top:0">
	<div class="container" style="height:100%;">
		<div  class="row" style="height:100%;">
			<div class="col-md-6 col-md-offset-3">
				<div style="display:inline-block">
					<div class="btn-toolbar">
						<div class="btn-group">
							<a id="navbar-expenses-link" class="btn">
								<div id="navbar-expenses">
									EXPENSES
								</div>
							</a>
							<a id="navbar-chat-link" class="btn second">
								<div id="navbar-chat">
									CHAT
								</div>
							</a>
							<a id="navbar-dashboard-link" class="btn">
								<div id="navbar-dashboard">
									DASHBOARD
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="pull-right min-770" id="show-hide-members"  style="margin-top: 0px; padding-right: 10px;">
				<p id="hide-tooltip" data-toggle="tooltip" data-trigger="hover focus" data-placement="bottom" title="Hide or Show your Group's Members">
					<a><i class="icon-collapse-top icon-large" id="toggle-button"></i></a></p>
				</div>
			</div>
		</div>
	</div>
	<script>
		var balances = {{ app.user.currentMember.tgroup.arrayBalances|json_encode|raw }};
		var members = {{ app.user.currentMember.tgroup.arrayMembers|json_encode|raw }};
		var currency = {{ app.user.currentMember.tgroup.currency.symbol|json_encode|raw }};
	</script>
	{% endblock %}

	{% block javascripts %}
	{{ parent() }}
	<script type='text/javascript' src="{{ asset('js/group.js') }}"></script>
	{% endblock %}