{% extends 'TkWelcomeBundle:Default:index.html.twig' %}

{% block title %}<title>Twinkler - Blog</title>{% endblock %}

{% block content %}
<section>
	<div id="blog">
		<div class="container">
			<div class="row">
				<div class="span8 offset2">
					<div id="about" style="text-align:center; width:100%;margin-top:220px">
						<h1>Twinkler's Blog</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div id="footer" class="blog-container container" style="font-family:'Helvetica Neue';">
		<div class="row" style="padding: 60px 0px">
			
<!-- iOS APP PRE-RELEASE -->
			<div class="blog-post span6 offset3" style="margin-top: 20px">
				<a href="{{ path('tk_welcome_blog_post', { 'date': '131014' }) }}">
				<div style="text-align: center; font-family: 'Proxima-bold';">
					<h3>iOS App pre-release - NYC</h3>
					<img src="{{ asset('img/links/blog/nyc-polaroid.png') }}" width="500px" alt="NYC" style="margin-top:30px;">
				</div>
				<h4 align="center">The iPhone app is almost there!</h4>
				<p>
					We are back from a one-week trip in New York City where we had the chance to meet very interesting startups and no-longer startups (Kickstarter, YPlan, Twitter, Foursquare) as well as investors (ff Ventures, Betaworks).<br>
					But NYC was not only about learning about other startups, we also used the <strong>not-yet-released iOS app of Twinkler</strong>. Equiped with brand new iPhones 5S we just spent the week paying for each other anything and putting it straight away on Twinkler. And I have to admit this was cool.<br>
					Having the possibility to <strong>record an expense</strong> immediately after you made it is a major breakthrough in Twinkler development. Not only we remove the bothering of calculating who owes what but now we completely remove the bothering of remembering expenses.<br>
					After using Twinkler ourselves in NYC, we have made the necessary refinements and submitted it to Apple. We are very excited to show this app to you, stay tuned it is coming very soon!
			 	</p>
				<div style="text-align:right; color:#d3d3d3; font-family: 'Proxima-bold'; font-size:16px"> 
				 	<i class="icon-heart"></i> 102 <br> 
	 				Oct 14th, 2013
				</div>
				</a>
			</div>

<!-- HOW TO USE TWINKLER -->
			<div class="blog-post span6 offset3" style="margin-top: 20px">
				<a href="{{ path('tk_welcome_blog_post', { 'date': '130925' }) }}">
				<div style="text-align: center; font-family: 'Proxima-bold';">
					<h3>How to use Twinkler</h3>
					<img src="{{ asset('img/links/blog/showcase.png') }}" width="500px" alt="Newcastle upon Tyne" style="margin-top:30px;">
				</div>
				<p><strong>Twinkler</strong> is still under construction but a lot of people ask us: "who should use Twinkler?" And the best answer I can give is: "You should tell me how you want to use Twinkler!"<br><br>
				Yet it is not like if we had not think about it and we identified 3 people who can take advantage of Twinkler:<br>
				- <strong>Flatmates</strong> are the first users of Twinkler. Because living in a flatshare comes along with arguments on who owes who and who paid what. Twinkler removes all the worry and let flatmates live in harmony.<br>
				- <strong>Holidays with friends</strong> (weekends, trips, ...) are of course a good scenario for using Twinkler. Because with Twinkler, friends will not worry about splitting the bill each time there is an expense or advancing the cash with the fear of never getting paid back. With twinkler, you just enjoy holidays and do the calculation of who owes what in the end.<br>
				- Last, people in <strong>clubs</strong> should of course use Twinkler! Because when you organize football games every sunday, you don't want to chase your friends to know who comes and of course to get the money back for the field you booked. All small clubs should use Twinkler, no need for a boring an accounting software or a spreadsheet no one understands.<br><br>
				Of course if you use Twinkler in any other way, we would love to know about it!<br>
				Cheers.</p>
				<div style="text-align:right; color:#d3d3d3; font-family: 'Proxima-bold'; font-size:16px"> 
				 	<i class="icon-heart"></i> 78 <br> 
	 				Sep 25th, 2013
				</div>
				</a>
			</div>

<!-- MOVING TO NEWCASTLE -->
			<div class="blog-post span6 offset3" style="margin-top: 20px">
				<a href="{{ path('tk_welcome_blog_post', { 'date': '130829' }) }}">
				<div style="text-align: center; font-family: 'Proxima-bold';">
					<h3>Moving to Newcastle</h3>
					<img src="{{ asset('img/links/blog/newcastle.jpg') }}" width="500px" alt="Newcastle upon Tyne" style="margin-top:30px;">
				</div>
				<p>Goodbye Paris, hello Newcastle. As of next Monday (September 2nd) the Twinkler team will be relocated in Newcastle upon Tyne, UK, for the next 3 months<br>
				We are proud to join the incubator Ignite100 which will be investing in Twinkler and will support us during the next 3 months and more. Together with 9 other startups, we will be working hard to build the best tool ever and especially the coming mobile apps so that you can enjoy weekends, trips, flatshares and all other moments with your friends. If you want to help us you can still shoot us an email any time. See you soon.
 				</p>
				<div style="text-align:right; color:#d3d3d3; font-family: 'Proxima-bold'; font-size:16px"> 
				 	<i class="icon-heart"></i> 41 <br> 
	 				Aug 29th, 2013
				</div>
				</a>
			</div>

<!-- JOKARI PARTY -->
			<div class="blog-post span6 offset3" style="margin-top: 20px">
				<a href="{{ path('tk_welcome_blog_post', { 'date': '130717' }) }}">
				<div style="text-align: center; font-family: 'Proxima-bold';">
					<h3>Work hard, play hard!</h3>
					<img src="{{ asset('img/links/blog/jokari.jpg') }}" width="500px" alt="Jokari on Paris rooftop" style="margin-top:30px;">
				</div>
				<p>After a hard day of work launching Twinkler, there's nothing better than a game of Jokari to relax with friends! For those who don't know, the Jokari is a game where a rubber ball is attached to an anchor by a long elastic band, which makes the ball come back when you hit it. This sounds quite dumb but it's amazingly really fun!
				<br>
				We met our friends from the newly formed Paris Jokari Club. They welcomed us on a beautiful rooftop in the heart of Paris. It was the perfect occasion to try our brand new website to share this moment! <br>
				We hope you'll like it as much as we did last night!</p>
				<div style="text-align:right; color:#d3d3d3; font-family: 'Proxima-bold'; font-size:16px"> 
				 	<i class="icon-heart"></i> 32 <br> 
				 	Jul 17th, 2013
				</div>
				</a>
			</div>


<!-- TWINKLER LAUNCHED -->
			<div class="blog-post span6 offset3" style="margin-top: 20px">
				<a href="{{ path('tk_welcome_blog_post', { 'date': '130716' }) }}">
				<div style="text-align: center; font-family: 'Proxima-bold'">
					<h3>This is the beginning my friends!</h3>
					<img src="{{ asset('img/links/blog/launching.jpg') }}" width="500px" alt="Twinkler launch" style="margin-top:30px;">
				</div>
				<p>Today is a big day: we're launching Twinkler's beta website! It is still very early stage but this is only the premises of something bigger :) We are working hard to make this happen and offer you the most lovely place to share moments with your friends. <br>
				So far, only the website is live but the apps will follow really really soon! In the meantime, have you tried to use Twinkler on your smartphone? Wahouuu, the website is fully responsive so you can use it on all your mobile devices!
				Free paybacks will be added as well in late August so you can all pay back your friends after some crazy holiday trips! <br>
				Please share with us your thoughts, ideas or comments! We love to have feedbacks from you guys!</p>
				<div style="text-align:right; color:#d3d3d3; font-family: 'Proxima-bold'; font-size:16px"> 
				 	<i class="icon-heart"></i> 12 <br> 
				 	Jul 16th, 2013
				</div>
				</a>
			</div>

		</div>
	</div>
</section>
{% endblock %}