	{% extends '::base.html.twig' %}

	{% block head %}
	{% block title %}<title>Twinkler - Manage group expenses</title>{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ asset('css/flat-ui.css') }}" rel="stylesheet" media="screen">
	<link href="{{ asset('css/landing-page.css') }}" rel="stylesheet" media="screen">
	{% block css %}{% endblock %}
	{% endblock %}

	{% block body %}
	<header>
		<div>
			<a href="{{ path('tk_user_homepage') }}">
				<img id="tk-logo-hp" src="{{ asset('img/logo/twinkler_logo.png') }}" width="200px" alt="twinkler logo">				
			</a>
			<div class="pull-right" id="login-register">
				<ul>
					<li class="min-570"><div class="fb-like" data-href="https://www.facebook.com/TwinklerCommunity" data-width="100%" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false" style="display: inline-block"></div></li>
					{% block header_links %}
					<li id="feature" class="min-940"><a href="{{ path('tk_user_homepage') }}#features">LEARN MORE</a></li>
					<li id="getappstandapp" class="min-816"><a href="{{ path('tk_user_homepage') }}#gettheapp">GET THE APP</a></li>
					<li id="blog-button" class="min-570"><a href="{{ path('tk_welcome_blog') }}">BLOG</a></li>
					{% endblock %}
					<li class="min-570"><a>|</a></li>
					<li>
						<a href="{{ path('fos_user_security_login')}}">LOGIN</a> 
						<span style="vertical-align: middle; padding:0px 8px">OR</span>
						<button class="btn btn-warning min-700"><a href="{{ path('fos_user_registration_register')}}"  style="color:white">REGISTER</a></button>
						<button class="btn btn-warning btn-small max-700"><a href="{{ path('fos_user_registration_register')}}"  style="color:white">REGISTER</a></button>
					</li>
				</ul>	
			</div>
		</div>
	</header>

	{% block content %}

	<section id="section1">
		<div class="container">
			<div class="row">
				<div class="span10 offset1" id="catchphrase">
					<h1>Group Expenses made easy</h1>
					<p id="explaination">Use Twinkler to manage expenses between friends, for free</p>
					<span id="create-group-big" class="min-570">
						<a href="{{ path('tk_welcome_create_group')}}" id="group-creation-button" class="btn btn-large btn-warning">
							Create a Group Now   
							<div class="wrapper">
								<span>Free</span>
							</div>
						</a>
					</span>
					<div id="create-group-small" class="max-570">
						<div><a href="{{ path('tk_welcome_create_group')}}" class="btn btn-warning">Create a Group Now</a></div>
						<div class="fb-like" data-href="https://www.facebook.com/TwinklerCommunity" data-width="100%" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false" style="display: inline-block; margin-top: 10px;"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="section2">
		<div id="overview-flow">
			<div class="container">
				<div class="row">
					<div class="span3 offset1" id="learn-more-planning">
						<a href="#planning">CREATE A GROUP</a>
					</div>
					<div class="span1">
						<i class="overview-arrow icon-chevron-right icon-rotate-0"></i>
						<i class="overview-arrow icon-chevron-right icon-rotate-90"></i>
					</div>
					<div class="span3" id='learn-more-expense'>
						<a href="#expense">SHARE EXPENSES</a>
					</div>
					<div class="span1">
						<i class="overview-arrow icon-chevron-right icon-rotate-0"></i>
						<i class="overview-arrow icon-chevron-right icon-rotate-90"></i>
					</div>
					<div class="span3" id='learn-more-payback'>
						<a href="#payback">PAY BACK EACH OTHER</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- ------------------------------------------------------------------------------  -->

	<section id="feature-section" class="feature">
		<div class="container" id="features">
			<div id="planning" class="row" style="height: 400px">
				<div class="span5 feature-container">
					<div id="iphone-pic">
						<div class="screen" id="js-screen" style="margin-top: 52px; margin-left: 50.6px; width: 194px; height: 344px;">

							<div id="screenContainer" style="position: relative;">
								<ul id="js-slider" class="slider" style="width: 582px; height: 344px; left: 0px;">
									<li class="step-intro" id="js-step-intro">
									</li>
									<li class="step-data" id="js-step-data">
									</li>
									<li class="step-nda" id="js-step-nda">
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
				<div class="span5 feature-description feature-group">
					<div>
						<h1>Create a Group</h1>
						<p>Invite your friends in just a second, find them on Facebook or your contact list.</p>
						<p>Access your private chat room for your group and start chatting. </p>
						<p>Have as many groups as you want!</p>
					</div>
					<div id="blue-arrow-container" class="transition-arrows-container"><div id="blue-arrow" class="transition-arrows"></div></div>
					<img src="{{ asset('img/landing-page/section-separator.png') }}">
				</div>
			</div>
		</div>
	</section>
	<section class="feature">
		<div class="container">
			<div id="expense" class="row" style="height: 400px">
				<div class="span5 feature-container">

				</div>
				<div class="span5 feature-description">
					<div>
						<h1>Share Expenses</h1>
						<p>Add all your group expenses on Twinkler from your mobile or your laptop.</p>
						<p><strong>Access and edit the group expenses at all time:</strong> Twinkler keeps track of everything that has been paid </p>
					</div>
					<div id="blue-arrow-container-left" class="transition-arrows-container"><div id="blue-arrow-left" class="transition-arrows-left"></div></div>
					<img src="{{ asset('img/landing-page/section-separator.png') }}">
				</div>
			</div>
		</div>
	</section>
	<section class="feature  feature-payback">
		<div class="container">
			<div id="payback" class="row" style="height: 400px">
				<div class="span5 feature-container">

				</div>				    		
				<div class="span5 feature-description">
					<div>
						<h1>Pay Back Each Other</h1>
						<p>Access your <strong>current balance</strong> and find out <strong>the easiest way to settle the debts</strong></p>
						<p>Twinkler integrates <strong>state-of-the-art free peer-to-peer mobile payments</strong> to make sure you move your money in a secured and easy way.<br></p>
						<p>Advance money to your friends for tickets, diner, drinks: you will <strong>get your money back instantly and at no cost.</strong></p>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- ------------------------------------------------------------------------------  -->
	<section id="platform-section">
		<div class="container">
			<div class="row">
				<div class="platform">
					<div class="span6 offset1 platform-catchphrase">
						<h3 align="center">Available on your laptop and your iPhone</h3>
					</div>
					<div class="span4 offset1 platform-thumbnails">
						<div><img id="flat-laptop" img src="{{ asset('img/landing-page/flat-mac.png') }}" alt="Twinkler Mac"></div>
						<div><img id="flat-iphone" src="{{ asset('img/landing-page/flat-iphone.png') }}" alt="Twinkler iPhone" width="50"></div>
					</div>
				</div>
			</div>
			
		</div>
	</section>


	<section id="feedback-section">
		<div class="container">
			<h3 align="center">Why people love Twinkler</h3>
			<div id="user-feedbacks" class="row">
				<div id="feedback-carousel" class="span8 offset2 carousel slide" data-interval="1200">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<div class="active item">
							<div class="feedback-img">
								<img src="{{ asset('img/landing-page/feedbacks/feedback-mary.jpg') }}" alt="Twinkler feedback" class="img-circle">
							</div>
							<div class="comment-background">
								<p>"Twinkler saves so much time in our flatshare!"</p>
								<p class="feedback-name"><STRONG>Emily,</STRONG> London</p>
							</div>
						</div>
						<div class="item">
							<div class="feedback-img">
								<img src="{{ asset('img/landing-page/feedbacks/feedback-jules.jpg') }}" alt="Twinkler feedback" class="img-circle">
							</div>
							<div class="comment-background">
								<p>"Awesome, we don't have to argue who paid what!"</p>
								<p class="feedback-name"><STRONG>John,</STRONG> Newcastle</p>
							</div>
						</div>
						<div class="item">
							<div class="feedback-img">
								<img src="{{ asset('img/landing-page/feedbacks/feedback-arnaud.jpg') }}" alt="Twinkler feedback" class="img-circle">
							</div>
							<div class="comment-background">
								<p>"So easy to use! With Twinkler I don't have to chase my friends for money!"</p>
								<p class="feedback-name"><STRONG>Arnaud,</STRONG> Paris</p>
							</div>
						</div>
					</div>
					<!-- Carousel nav -->
					<a id="control-left" class="carousel-control left" href="#feedback-carousel" data-slide="prev">&lsaquo;</a>
					<a id="control-right" class="carousel-control right" href="#feedback-carousel" data-slide="next">&rsaquo;</a>
				</div>
			</div>
		</div>
	</section>


	<section class="min-570">
		<div class="container" id="gettheapp">
			<div id="section-transition" class="row">
				<h5>Twinkler is available in your browser and very soon on mobile apps!</h5>
			</div>
			<div class="row">
				<a href="#subscribeModal" role="button" data-toggle="modal">
					<img src="{{ asset('img/landing-page/google-play-large.png') }}" alt="Get our Android App!">
				</a>
				<a href="#subscribeModal" role="button" data-toggle="modal">
					<img src="{{ asset('img/landing-page/app-store-large.png') }}" alt="get our iPhone App!">
				</a>
			</div>
		</div>
	</section>

	<section style="text-align:center">

		<div class="container">
				<h3 align="center" style="margin-top:60px">Twinkler is for all the groups in your life.</h3>
			<div id="tk-groups" class="row">
				<div>
					<img alt="" height="200" width="200" src="{{ asset('img/landing-page/suggestion-friends.jpg') }}" />
					<h4>
						Friends
					</h4>
				</div>
				<div>
					<img alt="" height="200" width="200" src="{{ asset('img/landing-page/suggestion-flatmates.jpg') }}" />
					<h4>
						Flamates
					</h4>
				</div>
				<div>
					<img alt="" height="200" width="200" src="{{ asset('img/landing-page/suggestion-holidays.jpg') }}" />
					<h4>
						Holidays
					</h4>
				</div>
				<div>
					<img alt="" height="200" width="200" src="{{ asset('img/landing-page/suggestion-sport.jpg') }}" />
					<h4>
						Clubs
					</h4>
				</div>
				<h4>
					Twinkler makes it easy to share expenses with the people in your life.
				</h4>
			</div>
				<div style="position:relative">
					<span class="min-570">
						<a href="{{ path('tk_welcome_create_group')}}" class="btn btn-large btn-warning" style="margin-bottom: 80px; font-size: 20px; padding: 12px 40px">
							Register for Freed
						</a>
					<div class="free-container">
						<img alt="" height="80" width="160" src="{{ asset('img/landing-page/free-caption.png') }}" />
					</div>
					</span>
				</div>
		</div>


	</div>
</section>

<section class="repeat-bck">
	<div id="pre-footer">
		<div class="container">
			<div class="row">
				<div class="span4">
					<div id="footer-left" class="footer-box min-767">
						<p>Get our Apps <br></p><br>
						<a href="#subscribeModal" role="button" data-toggle="modal">
							<img src="{{ asset('img/landing-page/google-play-large.png') }}" alt="Get our Android App!" width="120px">
						</a><br>
						<a href="#subscribeModal" role="button" data-toggle="modal">
							<img src="{{ asset('img/landing-page/app-store-large.png') }}" alt="get our iPhone App!" width="120px">
						</a>
						<br><br>
					</div>
				</div>
				<div class="span4">
					<div class="footer-box">
						<p>Want to get updates from twinkler?<br>Follow us on Facebook</p><br>
						<div class="fb-like" data-href="https://www.facebook.com/TwinklerCommunity" data-width="300px" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false"></div>
					</div>
				</div>
				<div class="span4 min-570">
					<div id="footer-right" class="footer-box">
						<p style="margin-bottom: 12px;">Your likes, shares and comments <br> make us happy!
						</p>
						<a href="https://www.facebook.com/TwinklerCommunity"><i class="icon-facebook-sign icon-3x"></i></a>
						<a href="https://twitter.com/Twinkler_app"><i class="icon-twitter-sign icon-3x"></i></a>
						<a href="{{ path('tk_welcome_blog') }}" class="min-570"><i class="icon-rss-sign icon-3x"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer>
	<div>
		<ul>
			<li><a href="{{ path('tk_welcome_about') }}">About</a></li>
			<li>|</li>
			<li><a href="{{ path('tk_welcome_press') }}">Press</a></li>
			<li>|</li>
			<li><a href="{{ path('tk_welcome_contact') }}">Contact</a></li>
		</ul>
		<p>Copyright © 2013 Twinkler, Inc. All rights reserved.</p>
	</div>
</footer>

<!-- Modal -->
{% include 'TkWelcomeBundle:Subscribe:subscribeModal.html.twig' %}

{% endblock content %}

{% endblock body %}

{% block javascripts %}
<script type='text/javascript' src="{{ asset('js/landing-page.js') }}"></script>
{% endblock %}
