	{% extends '::base.html.twig' %}

	{% block head %}  
	<title>Twinkler - Manage group expenses</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ asset('css/landing-page.css') }}" rel="stylesheet" media="screen">
	{% endblock %}

	{% block body %}
	<header>
		<div>
			<a href="{{ path('tk_user_homepage') }}">
				<img id="tk-logo-hp" src="{{ asset('img/logo/twinkler_logo.png') }}" width="200px" alt="twinkler logo">
			</a>
			<div class="pull-right" id="login-register">
				<ul>
					<li id="feature" class="header-collapse"><a href="{{ path('tk_user_homepage') }}#features">LEARN MORE</a></li>
					<li id="getappstandapp" class="header-collapse"><a href="{{ path('tk_user_homepage') }}#gettheapp">GET THE APP</a></li>
					<li id="gimmemore" class="header-collapse"><a href="{{ path('tk_user_homepage') }}#mosaic">MORE</a></li>
					<li class="header-collapse"><a>|</a></li>
					<li>
						<a href="{{ path('fos_user_security_login')}}">LOGIN</a> 
						<span>OR</span>
						<a href="{{ path('fos_user_registration_register')}}">REGISTER</a>
					</li>
				</ul>	
			</div>
		</div>
	</header>

	{% block content %}

	<section id="section1">
		<div class="container">
			<div class="row">
				<div class="span10 offset1" id="catchphrase">
					<h1>Group Expenses made easy</h1>
					<p id="explaination">Use Twinkler to manage expenses in your flatshare effortlessly, for free</p>
					<a href="{{ path('tk_welcome_create_group')}}" id="group-creation-button" class="btn btn-large btn-warning">Create a Group</a>
					<a href="#planning">
						<p id="learn-more">Learn more about Twinkler<br><i class="icon-chevron-down"></i></p>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="row" id="overview-flow">
			<div class="span3 offset1" id="learn-more-planning">
				<a href="#planning">CREATE A GROUP</a>
			</div>
			<div class="span1">
				<i class="overview-arrow icon-chevron-right"></i>
			</div>
			<div class="span3" id='learn-more-expense'>
				<a href="#expense">SHARE EXPENSES</a>
			</div>
			<div class="span1">
				<i class="overview-arrow icon-chevron-right"></i>
			</div>
			<div class="span3" id='learn-more-payback'>
				<a href="#payback">PAY BACK EACH OTHER</a>
			</div>
		</div>
	</section>

	<section class="feature">
		<div class="container" id="features">
			<div id="planning" class="row">
				<div class="span4 offset1 feature-container">
					<img src="{{ asset('img/landing-page/iphones-chats.png') }}" alt="twinkler app mockup" width="300px">
				</div>
				<div class="span7 feature-description">
					<div>
						<h1>Create a Group</h1>
						<h2>And invite your flatmates</h2>
						<p>Creating a group takes <strong>less than one minute</strong> on Twinkler</p>
						<p>You give a <strong>name</strong> to the group and choose your <strong>currency</strong></p>
						<p>Then you add your friends and <strong>enter their emails</strong> or just <strong>share the same link</strong> to all of them</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="feature">
		<div class="container">
			<div id="expense" class="row">
				<div class="span6 feature-description offset1">
					<div>
						<h1>Share Expenses</h1>
						<h2>Stop splitting the bill</h2>
						<p>Anytime you get to pay for the others, just put it on Twinkler</p>
						<p><strong>Access and edit the group expenses at all time:</strong> Twinkler keeps track of everything that has been paid</p>
						<p>Twinkler shows you the <strong>current balances</strong> of the group and <strong>the easiest way to settle the debts</strong></p>
					</div>
				</div>
				<div class="span4 offset1 feature-container">
					<img src="{{ asset('img/landing-page/samsung-overview.png') }}" alt="twinkler app mockup" style="max-width: 200px;">
				</div>
			</div>
		</div>
	</section>
	<section class="feature">
		<div class="container">
			<div id="payback" class="row">
				<div class="span5 feature-container">
					<img src="{{ asset('img/landing-page/iphone_payback.png') }}" alt="twinkler app mockup">
				</div>				    		
				<div class="span6 feature-description">
					<div>
						<h1>Pay Back Each Other</h1>
						<h2>Free and instant payback</h2>
						<br>
						<p>Twinkler integrates <strong>state-of-the-art free peer-to-peer mobile payments</strong> to make sure you move your money in a secured and easy way.<br></p>
						<p>Advance money to your friends for tickets, diner, drinks: you will <strong>get your money back instantly and at no cost.</strong></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section >
		<div class="container">
			<h3 align="center">Why our users love Twinkler</h3>
			<div id="user-feedbacks" class="row">
				<div id="feedback-carousel" class="span8 offset2 carousel slide" data-interval="1200">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<div class="active item">
								<div class="feedback-img">
									<img src="{{ asset('img/landing-page/feedbacks/feedback-mary.jpg') }}" alt="Twinkler feedback" class="img-circle">
								</div>
								<div class="comment-background">
									<p>"Twinkler saves so much time in our flatshare!"</p>
									<p class="feedback-name"><STRONG>Mary,</STRONG> London</p>
								</div>
						</div>
						<div class="item">
								<div class="feedback-img">
									<img src="{{ asset('img/landing-page/feedbacks/feedback-jules.jpg') }}" alt="Twinkler feedback" class="img-circle">
								</div>
								<div class="comment-background">
									<p>"Awesome, we don't have to argue who paid what and who owes who!"</p>
									<p class="feedback-name"><STRONG>John,</STRONG> Newcastle</p>
								</div>
						</div>
						<div class="item">
								<div class="feedback-img">
									<img src="{{ asset('img/landing-page/feedbacks/feedback-arnaud.jpg') }}" alt="Twinkler feedback" class="img-circle">
								</div>
								<div class="comment-background">
									<p>"An excellent tool in helping to organize my flatshare"</p>
									<p class="feedback-name"><STRONG>Arnaud,</STRONG> Paris</p>
								</div>
						</div>
					</div>
					<!-- Carousel nav -->
					<a id="control-left" class="carousel-control left" href="#feedback-carousel" data-slide="prev">&lsaquo;</a>
					<a id="control-right" class="carousel-control right" href="#feedback-carousel" data-slide="next">&rsaquo;</a>
				</div>
			</div>
		</div>
	</section>


	<section>
		<div class="container" id="gettheapp">
			<div id="section-transition" class="row">
				<h5>Download our Free Mobile Apps!</h5>
			</div>
			<div class="row">
				<a href="#subscribeModal" role="button" data-toggle="modal">
					<img src="{{ asset('img/landing-page/google-play-large.png') }}" alt="Get our Android App!">
				</a>
				<a href="#subscribeModal" role="button" data-toggle="modal">
					<img src="{{ asset('img/landing-page/app-store-large.png') }}" alt="get our iPhone App!">
				</a>
			</div>
		</div>
	</section>

	<section style="text-align:center">
		<div id="mosaic">
			<div id="login-mosaic">
				<img src="{{ asset('img/logo/twinkler_logo_mosaic.png') }}" width="600px" alt="twinkler logo">
				<br>
				<a href="{{ path('tk_welcome_create_group')}}" id="group-creation-button" class="btn btn-large btn-warning">Create a Group</a>
			</div>
			<div id="row1" class="row mosa-row">
				<img id="pic1-1" src="{{ asset('img/landing-page/mosaic/thib_michou_kayak_200.jpg') }}" alt="twinkler logo">
				<img id="pic1-2" src="{{ asset('img/landing-page/mosaic/friends_bw_200.jpg') }}"  alt="twinkler logo">
				<img id="pic1-3" src="{{ asset('img/landing-page/mosaic/pool_200.jpg') }}"  alt="twinkler logo">
				<img id="pic1-4" src="{{ asset('img/landing-page/mosaic/thib_beach_by_night_200.jpg') }}"  alt="twinkler logo">
			</div>
			<div id="row2" class="row mosa-row">
				<img id="pic2-1" src="{{ asset('img/landing-page/mosaic/group_200.jpg') }}"  alt="twinkler logo">
				<img id="pic2-2" src="{{ asset('img/landing-page/mosaic/ski_200.jpg') }}" alt="twinkler logo">
				<img id="pic2-3" src="{{ asset('img/landing-page/mosaic/couple_200.jpg') }}"  alt="twinkler logo">
				<img id="pic2-4" src="{{ asset('img/landing-page/mosaic/thib_kayak_200.jpg') }}"  alt="twinkler logo">
				<img id="pic2-5" src="{{ asset('img/landing-page/mosaic/soccer_200.jpg') }}"  alt="twinkler logo">
			</div>
			<div id="row3" class="row mosa-row">
				<img id="pic3-1" src="{{ asset('img/landing-page/mosaic/beer_200.jpg') }}"  alt="twinkler logo">
				<img id="pic3-2" src="{{ asset('img/landing-page/mosaic/golden_gate_200.jpg') }}" alt="twinkler logo">
				<img id="pic3-3" src="{{ asset('img/landing-page/mosaic/milk_shake_200.jpg') }}"  alt="twinkler logo">
				<img id="pic3-4" src="{{ asset('img/landing-page/mosaic/tv_200.jpg') }}"  alt="twinkler logo">
			</div>
		</div>
		<div id="made-with-love" class="row">
			Made with love
		</div>
	</section>

	<section class="repeat-bck">
		<div id="pre-footer">
			<div class="container">
				<div class="row">
					<div class="span4">
						<div id="footer-left" class="footer-box">
							<p>Get our Apps <br></p><br>
							<a href="#subscribeModal" role="button" data-toggle="modal">
								<img src="{{ asset('img/landing-page/google-play-large.png') }}" alt="Get our Android App!" width="120px">
							</a><br>
							<a href="#subscribeModal" role="button" data-toggle="modal">
								<img src="{{ asset('img/landing-page/app-store-large.png') }}" alt="get our iPhone App!" width="120px">
							</a>
							<br><br>
						</div>
					</div>
					<div class="span4">
						<div class="footer-box">
							<p>Want to be a beta-tester? <br> Subscribe to our Newsletter!</p><br>
							{% render(controller('TkWelcomeBundle:Default:subscribe')) %}
						</div>
					</div>
					<div class="span4">
						<div id="footer-right" class="footer-box">
							<p style="margin-bottom: 12px;">Your likes, shares and comments <br> make us happy!
							</p>
							<a href="https://www.facebook.com/TwinklerCommunity"><i class="icon-facebook-sign icon-3x"></i></a>
							<a href="https://twitter.com/Twinkler_app"><i class="icon-twitter-sign icon-3x"></i></a>
							<a href="{{ path('tk_welcome_blog') }}"><i class="icon-rss-sign icon-3x"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div>
			<p>Copyright © 2013 Twinkler, Inc. All rights reserved.</p>
			<ul>
				<li><a href="{{ path('tk_welcome_about') }}">About</a></li>
				<li><a href="{{ path('tk_welcome_blog') }}">Blog</a></li>
				<li><a href="{{ path('tk_welcome_press') }}">Press</a></li>
				<li><a href="{{ path('tk_welcome_contact') }}">Contact</a></li>
			</ul>
		</div>
	</footer>

	<!-- Modal -->
	{% include 'TkWelcomeBundle:Subscribe:subscribeModal.html.twig' %}

	{% endblock content %}

	{% endblock body %}

	{% block javascripts %}
	<script type='text/javascript' src="{{ asset('js/landing-page.js') }}"></script>
	{% endblock %}
