{% extends 'TkUserBundle::frame.html.twig' %}

{% set group = app.user.currentMember.tgroup %}
{% set currency = group.currency.symbol %}

{% block title %}   
<title> {{group.name}} - Send Money</title>
{% endblock %}


{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/s-money.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block navbar_title %}
{{ group.name|capitalize }}
{% endblock %}

{% block selectionmenu %}
<div id="navbar-row" class="selection-menu" style="padding-top:0">
	<div class="container" style="height:100%;">
		<div  class="row" style="height:100%;">
			<div class="col-md-6 col-md-offset-3">
				<p>Send money for the group {{ group.name|capitalize }}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">

		<div class="col-md-6 col-md-offset-3 payback-title">
			<div class="section-header">
				<div class="navbar navbar-inverse">
					<div class="navbar-header">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
					</div>            
					<div class="navbar-collapse collapse" id="nav-collapse-01">
						<ul class="nav">
							<li>
								<h2>Do you confirm you want to pass the following payments?</h2>
							</li>
						</ul>
					</div><!--/.nav -->
				</div>
			</div>
		</div>

		<div class="">
			<div class="" style="text-align: center">
			{% render(controller('SmoneyActionBundle:Default:confirm')) %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}