{% set group = app.user.currentMember.tgroup %}
{% set currency = group.currency.symbol %}

<form id="add-expense-form" style="height:100%" action="{{ path('smoney_action_confirm') }}" method="post" {{ form_enctype(form) }}>

	<div>
	<table>
		{% for payment in payments %}
		<tr>
			<td>Send</td>
			<td>{{ currency }} {{ payment.amount }}</td>
			<td>to</td>
			<td>
				{% if payment.receiver.facebookId %}
				<img src="http://graph.facebook.com/{{ payment.receiver.facebookId }}/picture?width=60&height=60" class="img-circle" width="30px" alt="Payer picture" style="position: relative">
				{% elseif payment.receiver.user %}
				<img src="{{ asset(payment.receiver.user.picture.path) }}" class="img-circle" width="30px" alt="Payer picture" style="position: relative">
				{% else %}
				<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" width="30px" 	alt="Payer picture" style="position: relative">
				{% endif %}
				{{ payment.receiver.name }}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>

	{{ form_rest(form) }}

	<a class="btn" href="{{ path('smoney_action_select') }}">Cancel</a>
	<input type="submit" class="btn btn-success">
</form>