{% extends 'TkUserBundle::frame.html.twig' %}

{% set group = app.user.currentMember.tgroup %}
{% set currency = group.currency.symbol %}

{% block title %}   
<title> {{group.name}} - Send Money</title>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block navbar_title %}
{{ group.name|capitalize }}
{% endblock %}

{% block selectionmenu %}
<div id="navbar-row" class="selection-menu" style="padding-top:0">
	<div class="container" style="height:100%;">
		<div  class="row" style="height:100%;">
			<div class="col-md-6 col-md-offset-3">
				Send money for the group {{ group.name|capitalize }}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div>
				<p>Congratulation, you will receive a request from S-money to confirm the payment</p>
				<p>We have recorded your payback in the expenses of the group</p>
				<p>Once your payment is confirmed your friend(s) will receive the money</p>
				<p>If they don't accept the money within 7 days, we will send you the money back and cancel the payback</p>
				<p>For any question or query please contact us at <a href="mailto:contact@twinkler.co">contact@twinkler.co</a></p>
			</div>
			<a class="btn btn-warning" href="{{ path('tk_expense_homepage') }}">Back to expenses of the group</a>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}