{% extends 'TkUserBundle::frame.html.twig' %}

{% set group = app.user.currentMember.tgroup %}
{% set currency = group.currency.symbol %}

{% block title %}   
<title> {{group.name}} - Send Money</title>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/s-money.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block navbar_title %}
{{ group.name|capitalize }}
{% endblock %}

{% block selectionmenu %}
<div id="navbar-row" class="selection-menu" style="padding-top:0">
	<div class="container" style="height:100%;">
		<div  class="row" style="height:100%;">
			<div class="col-md-6 col-md-offset-3">
				<p>Send money for the group {{ group.name|capitalize }}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">


		<div class="col-md-6 col-md-offset-3 payback-title">
			<div class="section-header">
				<div class="navbar navbar-inverse">
					<div class="navbar-header">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
					</div>            
					<div class="navbar-collapse collapse" id="nav-collapse-01">
						<ul class="nav">
							<li>
								<h2>Add or confirm your Friends' Phone Numbers to proceed to the payment</h2>
							</li>
						</ul>
					</div><!--/.nav -->
				</div>
			</div>
		</div>

		{% if debts|length == 0 %}

		<div class="col-md-6 col-md-offset-3 flat-container phone-number-table">
			<p style="margin-top: 10px; color:rgb(67,113,191)">You did not select any debt!</p>
		</div>
		<div class="col-md-6 col-md-offset-3" style="text-align:center">
			<a class="btn" href="{{ path('smoney_action_select') }}" style="width: 100px;">Back</a>
		</div>
		{% else %}

		<div class="col-md-6 col-md-offset-3 flat-container phone-number-table">
			<div class="payback-table">
				<form action="{{ path('smoney_action_confirmNumbers') }}" method="post">
					<table>
						<tr style="border-bottom: solid 1px">
							<td style="text-align: left; overflow: hidden;">
								<div id="my-payback-owner">
									{% set member = app.user.currentMember %}
									{% if member.facebookId %}
									<img src="http://graph.facebook.com/{{member.facebookId}}/picture?width=60&height=60" class="img-circle" width="30px" alt="Payer picture" style="position: relative">
									{% else %}
									<img src="{{ asset(debt[2].user.picture.path) }}" class="img-circle" width="30px" alt="Payer picture" style="position: relative">
									{% endif %}
									Your phone number
								</div>
							</td>
							<td><input type="text" name="{{ member.id }}" value="{{ member.phone }}" style="height: 40px" placeholder="Ex: 0676326288"></td>
						</tr>
						{% for debt in debts %}
						<tr>
							<td style="text-align: left; overflow: hidden;">
								<div id="my-payback-owner">
									{% if debt[2].facebookId %}
									<img src="http://graph.facebook.com/{{debt[2].facebookId}}/picture?width=60&height=60" class="img-circle" width="30px" alt="Payer picture" style="position: relative">
									{% elseif debt[2].user %}
									<img src="{{ asset(debt[2].user.picture.path) }}" class="img-circle" width="30px" alt="Payer picture" style="position: relative">
									{% else %}
									<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" width="30px" 	alt="Payer picture" style="position: relative">
									{% endif %}
									{{ debt[2].name }}
								</div>
							</td> 
							<td><input type="text" name="{{ debt[2].id }}" value="{{ debt[2].phone }}" style="height: 40px" placeholder="Ex: 0676326288"></td>
						</tr>
						{% endfor %}
					</table>

					<small>Note: S-Money only works with French Phone Number</small>

					<div style="margin-top: 10px; border-top: solid 1px">
						<p>You will be redirected to S-Money to confirm a payment of € {{ sum }} to Twinkler, which will be transfered to your friends instantly and with no commission.</p>						
					</div>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-3" style="text-align:center">
				<a class="btn" href="{{ path('smoney_action_select') }}">Back</a>
				<input type="submit" class="btn btn-success" value="Confirm">
			</div>
		</form>
		{% endif %}

	</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}