{% trans_default_domain 'FOSUserBundle' %}

<div class="flat-container">
	<div class="flat-header">
		<h1>Sign up</h1>	
	</div>
    <div style="margin: 10px 5px; margin-bottom: 20px; border-bottom: 1px solid rgb(239, 244, 246); padding: 20px 0px">
	<p>{{ facebook_login_button({'autologoutlink': false, 'label': 'Connect with Facebook', 'size' : 'xlarge'}) }}</p>
    <p style="color: #999999; font-size: 12px;">Loging in with Facebook enables you to find your friends quickly on Twinkler. We will never post anything on your behalf. </p>
    </div>
    <p style="color: #999999; font-size: 12px;">
    Don't have a Facebook account? <a data-toggle="collapse" data-target="#register-form" style=" cursor: pointer"> Sign up with your e-mail</a></p>
    <div id="register-form" class="collapse out">
    	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" style="margin-top: 20px;">
            {{ form_errors(form) }}

    	    {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}

            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}

            {{ form_errors(form.plainPassword) }}
            {{ form_widget(form.plainPassword) }}

            {{ form_rest(form) }}

    	    <div>
    	        <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}" style="width: 120px;margin-top: 20px; margin-bottom: 10px;" />
    	    </div>
            <div>
            </div>
    	</form>
    </div>
    <div class="flat-footer">
	   <p>Have an account ? <a href="{{ path('fos_user_security_login') }}">Log in</a></p>
    </div>
</div>
