{% trans_default_domain 'FOSUserBundle' %}
        {% if app.session.get('invitation_id') != null %}
        <h5 class="invitation-message">Hello {{ app.session.get('invitation_member') }},</br> you need to login or register to join the group </h5>
        {% endif %}

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div id="register-content">
            <div class="flat-container">
            	<div class="flat-header">
            		<h1>REGISTER</h1>	
            	</div>
                <div>
                    <p>Connect in a single click via Facebook.</p>
                    <a class="btn btn-info" id="facebook-login" onclick="fbLogin()">
                        <img src="{{ asset('img/landing-page/facebook-icon.png') }}" alt="Connect with Facebook" width="18px">
                        Connect with Facebook
                    </a>
                    <a data-toggle="collapse" data-target="#facebook-warning">
                        <p style="color: #999999; font-size: 12px; cursor: pointer">Why do we use facebook?</p>
                    </a>
                    <div id="facebook-warning" class="collapse">
                        <ul style="width: 80%; color: #999999; text-align: left; margin: auto; padding: 5px ">
                            <li>We will NEVER post anything to Facebook on your behalf</li>
                            <li>We only use your Friend list so you can find your friends more easily</li>
                            <li>All information put on Twinkler will remain secure - we don't sell any data to third parties</li>
                        </ul>
                    </div>
                </div>
                <div class="flat-footer">
            	   <p>Already have an account ? <a href="{{ path('fos_user_security_login') }}">Click here to log in</a></p>
                </div>
            </div>
        </div>
