{% trans_default_domain 'FOSUserBundle' %}
<div id="user-layout" class="row">
    <div align="center">
        {% if app.session.get('invitation_id') != null %}
        <h5 class="invitation-message">Hello {{ app.session.get('invitation_member') }},</br> you need to login or register to join the group </h5>
        {% endif %}

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div id="register-content">
            <div class="flat-container">
            	<div class="flat-header">
            		<h1>REGISTER</h1>	
            	</div>
                <div>
                    <div id="hip-way">
                        <h3>Do it the hip way</h3>
                        <p id="p2">Connect in a single click via Facebook.</p>
                        <a class="btn btn-info" id="facebook-login" onclick="fbLogin()">Connect with Facebook</a>
                        <p style="color: #999999; font-size: 12px;">Find your friends instantly on Twinkler and we'll never post anything on your behalf.</p>
                    </div>

                    <div id="old-school-way">
                        <h3>Or the old school way</h3>
                        <div id="register-form">
                        	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" style="margin-top: 20px;">
                                {{ form_errors(form) }}

                        	    {{ form_errors(form.username) }}
                                {{ form_widget(form.username) }}

                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email) }}

                                {{ form_errors(form.plainPassword) }}
                                {{ form_widget(form.plainPassword) }}

                                {{ form_rest(form) }}

                        	    <div>
                        	        <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}" style="width: 120px;margin-top: 20px; margin-bottom: 10px;" />
                        	    </div>
                                <div>
                                </div>
                        	</form>
                        </div>
                    </div>
                </div>
                <div class="flat-footer">
            	   <p>Already have an account ? <a href="{{ path('fos_user_security_login') }}">Click here to log in</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
