{% set group = app.user.currentMember.tgroup %}

<div class="row" align="center">
	<div class="col-md-6 col-md-offset-3">
		<div id="chat-container" class="group-info flat-container">
			<div class="group-header flat-header" style="height: 30px; margin: 5px; width: auto">	
				<span class="group-title">
					<h2>CHAT</h2>
				</span>
			</div>
			<div id="message-list">
				{{ render(controller('TkChatBundle:Default:messages')) }}
			</div>
		</div>

		<div class="chat-footer">
			<div id="send-box" style="padding-top:10px">
				{% if app.user.facebookId %}
				<img src="http://graph.facebook.com/{{app.user.facebookId}}/picture?width=100&height=100" class="img-circle" alt="{{ app.user }}"  width="40px" style="position: relative">
				{% else %}
				<img src="{{ asset(app.user.picture.path) }}" class="img-circle" alt="{{ app.user }}" width="40px" style="position: relative">
				{% endif %}
				<input id="message-input" type="text" placeholder="Type your message here and press enter to post" style="height:40px; margin-left: 20px"></input>
			</div>
		</div>
	</div>
</div>