{% set group = app.user.currentMember.tgroup %}

<div class="row" align="center">
	<div class="col-md-6 col-md-offset-3">
		<div class="section-header">
			<div class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
				</div>            
				<div class="navbar-collapse collapse" id="nav-collapse-01">
					<ul class="nav">
						<li>
							<h2>CHAT</h2>
						</li>
					</ul>
				</div><!--/.nav -->
			</div>
		</div>
	</div>		
	<div class="col-md-6 col-md-offset-3">
		<div id="chat-container" class="group-info flat-container">
			<div id="message-list">
				{{ render(controller('TkChatBundle:Default:messages')) }}
			</div>
		</div>

		<div class="chat-footer">
			<div id="send-box" style="padding-top:10px">
				{% if app.user.facebookId %}
				<img src="http://graph.facebook.com/{{app.user.facebookId}}/picture?width=100&height=100" class="img-circle min-770" alt="{{ app.user }}"  width="40px" style="position: relative">
				{% else %}
				<img src="{{ asset(app.user.picture.path) }}" class="img-circle min-770" alt="{{ app.user }}" width="40px" style="position: relative">
				{% endif %}
				<img src="{{ asset('img/Frame/add-member.png') }}" class="img-circle max-770" alt="Send message" width="40px" style="position: relative" id="add-message-pic">
				<input id="message-input" type="text" placeholder="Type your message here" style="height:40px; margin-left: 20px"></input>
			</div>
		</div>
	</div>
</div>