	{% set group = app.user.currentMember.tgroup %}

	<div class="row" align="center">
		<div class="span4 offset1">
			<div class="group-info flat-container">
				<div class="group-header flat-header" style="height: 30px; margin: 5px; width: auto">	
					<span class="group-title">
						<h2> {{ group.name|upper }}</h2>
					</span>
				</div>
			</div>
			<div id="group-edit-list" class="group-info group-edit flat-container">
				<ul>
					<li>
						<a class="edit-group-a" href="{{ path('tk_group_add_members') }}">
							<div id="action-bar-first-child" style="width:100%; height:100%; padding-top: 10px">
								ADD A FRIEND <i class="icon-plus-sign" style="float:right; margin-right: 15px"></i> 
							</div>
						</a>
					</li>
					<li>
						<a class="edit-group-a accordion-toggle" data-toggle="collapse" href="#collapse-remove-member">						
							<div style="width:100%; height:100%; padding-top: 10px">
								<i class="icon-minus-sign" style="float:right; margin-right: 15px"></i>   
								REMOVE MEMBER
							</div>		
						</a>
					</li>
					<li>
						<a  class="edit-group-a" data-toggle="collapse" href="#collapse-close-group">	
							<div style="width:100%; height:100%; padding-top: 10px">
								<i class="icon-signout" style="float:right; margin-right: 15px"></i>   
								CLOSE GROUP
							</div>			
						</a>
					</li>
				</ul>
			</div>
			<div>
				<div id="collapse-remove-member" class="accordion-body collapse">
					<div class="accordion-inner">	
						<div class="well">
							{% include 'TkGroupBundle:GroupActions:removeMembers.html.twig' %}
						</div>
					</div>
				</div>
			</div>	
			<div >
				<div id="collapse-close-group" class="accordion-body collapse">
					<div class="accordion-inner">	
						<div class="well">
							<p>Are you sure you want to close the group <b>{{ app.user.currentMember.tgroup.name }}</b> ?</p>
							<small>You will not be able to access this group anymore</small>
							<p><a href="{{ path('tk_group_close', { 'id' : app.user.currentMember.tgroup.id}) }}" class="btn btn-danger" style="margin: 20px;">Yes</a><a href="" class="btn">No</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="group-info flat-container">
				<div class="group-header flat-header" style="height: 30px; margin: 5px; width: auto">	
					<span class="group-title">
						<h2>CHAT</h2>
					</span>
				</div>
				<div id="message-list">
					{{ render(controller('TkChatBundle:Default:messages')) }}
				</div>
			</div>

			<div class="chat-footer">
				<div id="send-box" style="padding-top:10px">
					{% if app.user.facebookId %}
					<img src="http://graph.facebook.com/{{app.user.facebookId}}/picture?width=100&height=100" class="img-circle" alt="{{ app.user }}"  width="40px" style="position: relative">
					{% else %}
					<img src="{{ asset(app.user.picture.path) }}" class="img-circle" alt="{{ app.user }}" width="40px" style="position: relative">
					{% endif %}
					<input id="message-input" type="text" placeholder="Type your message here and press enter to post" style="height:24px;"></input>
				</div>
			</div>
		</div>
	</div>