
<table id="chat-table" width="90%">

	{% if last_messages|length == 0 %}

	<tr style= "border:none">
		<td class="message-date">
		</td>
		<td class="message-body msg-right" style= "text-align:center; padding: 10px 0px; color: rgb(170,170,170">No one has said anything yet :(</td>
		<td class="message-pic msg-right">
		<td>
	</tr>


	{% else %}

	{% set previous = null %}
	{% for message in last_messages %}
	{% set member = message.author %}

	{% if previous == member and message.timestamp - 900 < previous_message.timestamp %}

		<p>{{message.body}}</p>

	{% else %}

		{% if previous %}
		{% if previous.user == app.user %}

		</td>
		<td class="message-pic msg-right">
			{% if previous.user.facebookId %}
			<img src="http://graph.facebook.com/{{previous.user.facebookId}}/picture?width=100&height=100" class="img-circle" alt="{{ previous.name }}"  width="40px" style="position: relative">
			{% else %}
			<img src="{{ asset(previous.user.picture.path) }}" class="img-circle" alt="{{ previous.name }}" width="40px" style="position: relative">
			{% endif %}
		<td>
	</tr>

		{% else %}

		</td>
		<td class="message-date">
			<p>{{previous.name}}<br>
			{% if previous_message.timestamp|date('d') == "now"|date('d') %}
			   {{previous_message.timestamp|date('H:i')}}</p>
			{% elseif previous_message.timestamp|date('d') == date('-1day') %}
			   Yesterday</p>
			{% else %}
			   {{previous_message.timestamp|date('M')}} {{previous_message.timestamp|date('d')}}</p>
			{% endif %}
		</td>
	</tr>

		{% endif %}
		{% endif %}

		{% if member.user == app.user %}

	<tr>
		<td class="message-date">
			{% if message.timestamp|date('d') == "now"|date('d') %}
			<p>{{message.timestamp|date('H:i')}}</p>
			{% elseif message.timestamp|date('d') == date('-1day') %}
			<p>Yesterday</p>
			{% else %}
			<p>{{message.timestamp|date('M')}} {{message.timestamp|date('d')}}</p>
			{% endif %}
		</td>
		<td class="message-body msg-right">
			<p>{{message.body}}</p>

		{% else %}
	<tr>
		<td class="message-pic msg-left">
			{% if member.user and member.user.facebookId %}
			<img src="http://graph.facebook.com/{{member.user.facebookId}}/picture?width=100&height=100" class="img-circle" alt="{{ member.name }}"  width="40px" style="position: relative">
			{% elseif member.user %}
			<img src="{{ asset(member.user.picture.path) }}" class="img-circle" alt="{{ member.name }}" width="40px" style="position: relative">
			{% else %}
			<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" alt="{{ member.name }}" width="40px" style="position: relative">
			{% endif %}
		</td>
		<td class="message-body msg-left">
			<p>{{message.body}}</p>

		{% endif %}

	{% set previous = member %}
	{% set previous_message = message %}
	
	{% endif %}

	{% endfor %}

	{% if previous.user == app.user %}

		</td>
		<td class="message-pic msg-right">
			{% if previous.user.facebookId %}
			<img src="http://graph.facebook.com/{{previous.user.facebookId}}/picture?width=100&height=100" class="img-circle" alt="{{ previous.name }}"  width="40px" style="position: relative">
			{% else %}
			<img src="{{ asset(previous.user.picture.path) }}" class="img-circle" alt="{{ previous.name }}" width="40px" style="position: relative">
			{% endif %}
		<td>
	</tr>

		{% else %}

		</td>
		<td class="message-date">
			<p>{{previous.name}}<br>
			{% if previous_message.timestamp|date('d') == "now"|date('d') %}
			   {{previous_message.timestamp|date('H:i')}}</p>
			{% elseif previous_message.timestamp|date('d') == date('-1day') %}
			   Yesterday</p>
			{% else %}
			   {{previous_message.timestamp|date('M')}} {{previous_message.timestamp|date('d')}}</p>
			{% endif %}
		</td>
	</tr>

		{% endif %}


	{% endif %}
</table>