
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Add an Expense</h3>
		</div>
		<form id="add-expense-form" style="height:100%" action="{{ path('tk_expense_new') }}" method="post" {{ form_enctype(form) }}>
			<div class="modal-body">
				<div id="expense-slimscroll">
					<div id="add-expense-slimscroll" style="margin: 0px">
						<div class="expense-features">
							{{ form_errors(form) }}

							<div>
								<span>Who paid ?</span>
								{{ form_errors(form.owner) }}
								{{ form_widget(form.owner, 
								{ 'attr': { 'style' : 'width : 150px;'}}) }}
							</div>

							<div style="display:inline-block;">
								{{ form_errors(form.amount) }}
								{{ form_widget(form.amount, 
								{ 'attr': { 'placeholder' : '0.00',
								'style' : 'width : 100px;', 
								'value' : '' }}) }}
							</div>

							<div style="display:inline-block">
								{{ form_errors(form.name) }}
								{{ form_widget(form.name, 
								{ 'attr': { 'placeholder' : 'What ?',
								'style' : 'width : 210px;'}}) }}
							</div>

							<div>
								<span>When was it paid ?</span>
								{{ form_errors(form.date) }}
								<div class="form-group"  style="width:140px; margin-top:10px; margin-left:auto; margin-right: auto" >
									<input type="text" id="tk_expensebundle_expensetype_date" name="tk_expensebundle_expensetype[date]" required="required" class="form-control date datepicker" value="{{ "now"|date('d-m-Y') }}"/>
									<span class="input-icon glyphicon glyphicon-calendar" style='background-color:transparent'></span>
								</div>
							</div>
						</div>

						<div id="users-row">
							<div id="users-label">
								<label class="required">How do we split this expense?</label>
							</div>
							<div id="tk_expensebundle_expensetype_users">
								<div class="select-deselect">
									<span id="select-all-button" style="margin: 0px 15px; cursor: pointer">Select All</span>|<span id="deselect-all-button" style="margin: 0px 15px; cursor: pointer">Deselect All</span>
								</div>
								{% for member in app.user.currentMember.tgroup.members %}
								<div class="user-box">
									<label for="tk_expensebundle_expensetype_users_{{member.id}}">
										<div>
											<div>
												{% if member.facebookId %}
												<img src="http://graph.facebook.com/{{member.facebookId}}/picture?width=100&height=100" class="img-circle" alt="{{ member.name }}" width="50px">
												{% elseif member.user %}
												<img src="{{ asset(member.user.picture.path) }}" class="img-circle" alt="{{ member.name }}" width="50px">
												{% else %}
												<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" alt="{{ member.name }}" width="50px">
												{% endif %}
											</div>
											{{member.name}}
										</div>
									</label>
									<div>			
										<input id="tk_expensebundle_expensetype_users_{{member.id}}" class="user-checkbox" type="checkbox" checked="checked" value="{{member.id}}" name="tk_expensebundle_expensetype[users][]">
									</div>	
								</div>
								{% endfor %}
							</div>
						</div>

						{{ form_widget(form._token) }}

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="amount-error"></div>
				<input id="submit-expense" type="submit" class="btn btn-success" value="Add Expense"/>
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			</div>


		</form>
	</div>
</div>