{% set currency = app.user.currentMember.tgroup.currency.symbol %}

<div class="row">
	<div class="span4">
		<div id="balance" class="flat-container">
			<div class="expense-header flat-header">
				<div id="expense-title">
					<h2>BALANCE</h2>
				</div>
			</div>
			<div id="blce-tbl" class="balance-table-container">
				<table id="balance-table">

				</table>
			</div>
		</div>
	</div>		
	<div class="span8" >
		<div id="timeline" style="position: relative; height:120px;z-index: -1;">
			<img src="{{ asset('img/Frame/group-icon-pointer.png') }}" class="img-circle" width="50px" style="position:absolute; top: -5px; left:2px" alt="profile picture">
		</div>
		<div id="timeline-expense-container">
			{% include "TkExpenseBundle:Expense:addExpenseModal.html.twig" %}
			<div class="expense-list flat-container">
				<div class="expense-header flat-header">
					<div id="expense-title">
						<h2>EXPENSE TIMELINE</h2>
					</div>
					<a href="#addExpenseModal" role="button" data-toggle="modal">
						<div id="add-expense-btn">
							<i class="icon-plus-sign" style=""></i>ADD EXPENSE
						</div>
					</a>
				</div>
				<div id="filter-buttons">
					<a id="show-all-button" class="active">show all</a>
					<a id="only-mine-button">only mine</a>
				</div>
				<div id="expense-summary">
					Total paid {{ total_paid }}{{ currency }} -
					You paid {{ total_paid_by_me }}{{ currency }} -
					{% if total_balance >= 0 %}
					You get {{ total_balance }}{{ currency }}	
					{% else %}
					You owe {{ -total_balance}}{{ currency }}	
					{% endif %} 
				</div>		
			</div>


			<!-- -------------------------------------- -->
			<div class="pinpoint-tmln" style="margin-left: -7.55%; z-index:9999999999999999">
				<img class="pinpoint-button" src="{{ asset('img/Frame/tmln-btn.png') }}" class="img-circle" width="20px">
			</div>

			{% if all_expenses|length == 0 %}
			<div class="expense-list flat-container" style="text-align: center; margin-top:15px;">
				<div class="no-expense">
					<p>There is no expense here yet</p></div>
					<a href="#addExpenseModal" role="button" data-toggle="modal" class="flat-btn flat-pk flat-large" style="background-color: rgb(67,113,191); color:rgb(229,240,255) ; height:25px; padding-top: 5px">Add an expense</a>
				</div>
			</div>

			{% else %}

			<div id="expense-table-container" class="flat-container">
				<table id="expense-table">
					<thead id="expense-table-header">
						<tr>
							<td style="text-align: center;">Who</td>
							<td style="text-align: center;">How Much</td>
							<td>What</td>
							<td style="text-align: center;">Your Share</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for expense in all_expenses %}

						<!-- PAYBACK -->
						{% if expense[0].type == 'payback' %}
						<tr class="expense-row {% if expense[1] == 0 and expense[0].owner != app.user.currentMember %}nottagged{% endif %}" style=" background-color: rgba(153, 179, 53, 0.1)">
							<td id="profile-pic-row" style="vertical-align: middle; padding-top:0px; padding-bottom:0px">
								<div style="">
									<font style="color:#99B335;">
										PAYBACK
									</font>
								</div>
							</td>
							<td id="amount-column" style="vertical-align: middle; padding-top:0px">
								<font style="color:#99B335;">
									{{ expense[0].amount }} {{ currency }}
								</font> 
							</td>
							<td style="padding-top: 4px; padding-bottom: 8px; text-align: center;vertical-align: middle; padding-top:0px"> 
								<div style="display: inline-block; text-align: center; margin-left: auto; margin-right:auto; width: 100%; height:100%">
								<div style="display: inline-block; margin: 0px 20px">
									<font style="color:#fb786b;">
										<div>
											<font style="color:#fb786b">
												{% if expense[0].owner.user == app.user %}
												You
												{% else %}
												{{ expense[0].owner.name }} 
												{% endif %}
											</font>
										</div>
										<div>
											{% if expense[0].owner.user %}
											{% if expense[0].owner.user.facebookId %}
											<img src="http://graph.facebook.com/{{expense[0].owner.user.facebookId}}/picture?width=60&height=60" class="img-circle" width="30px" alt="Payer picture" style="position: relative">
											{% else %}
											<img src="{{ asset(expense[0].owner.user.picture.path) }}" class="img-circle" width="30px" alt="Payer picture" style="position: relative">
											{% endif %}
											{% else %}
											<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" width="30px" 	alt="Payer picture" style="position: relative">
											{% endif %}
										</div>
									</font>
								</div>
								<div style="display: inline-block; color:rgba(69, 69, 69, 0.6); margin-top: -2px">
									<i class="icon-arrow-right icon-large"></i>
								</div>	
								<div style="display: inline-block;  margin: 0px 20px">
									<font style="color:#fb786b;">
										<div>
											<font style="color:#fb786b">
												{% if expense[0].users[0].user == app.user %}
												You
												{% else %}
												{{ expense[0].users[0].name }} 
												{% endif %}
											</font>
										</div>
										<div>
											{% if expense[0].users[0].user %}
											{% if expense[0].users[0].user.facebookId %}
											<img src="http://graph.facebook.com/{{expense[0].users[0].user.facebookId}}/picture?width=60&height=60" class="img-circle" width="30px" alt="Payer picture" style="position: relative">
											{% else %}
											<img src="{{ asset(expense[0].users[0].user.picture.path) }}" class="img-circle" width="30px" alt="Payer picture" style="position: relative">
											{% endif %}
											{% else %}
											<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" width="30px" 	alt="Payer picture" style="position: relative">
											{% endif %}
										</div>
									</font>
								</div>
								</div>
							</td>
							<td id="balance-column" style="vertical-align: middle; padding-top:0px">
								{% if expense[1] != 0 %}
								{% if expense[0].owner.user == app.user %}
								<font style="color:rgba(69,69,69,0.6);; font-size: 10px">
									YOU GAVE<br>
								</font>
								<font style="color:rgb(153,179,53); font-weight: bold">
									{{ expense[1] }} {{ currency }}
								</font>
								{% elseif  expense[0].users[0].user == app.user %}
								<font style="color:rgba(69,69,69,0.6);; font-size: 10px">
									YOU RECEIVED<br>
								</font>
								<font style="color:rgba(227,79,52,1); font-weight: bold">
									{{ -expense[1] }} {{ currency }}
								</font>
								{% endif %}
								{% else %}
									<font style="color:#C8C8C8; font-weight: bold">
										_
									</font>
								{% endif %}
							</td>
							<td id="edit-column" style="vertical-align: middle; padding-top:0px">
								<div>
									<a class="edit-button" data-id="{{expense[0].id }}"><i class="icon-edit"></i></a>
									<a class="remove-button" href="{{ path('tk_expense_remove', {'id' : expense[0].id } ) }}"><i class="icon-trash"></i></a>
								</div>
							</td>
						</tr>
						

						<!-- EXPENSE -->
						{% else %}

						<tr class="expense-row {% if expense[1] == 0 and expense[0].owner != app.user.currentMember %}nottagged{% endif %}">
							<td id="profile-pic-row">
								<div style="margin-top:4px">
									<font style="color:#fb786b">
										{% if expense[0].owner.user == app.user %}
										You
										{% else %}
										{{ expense[0].owner.name }} 
										{% endif %}
									</font>
								</div>
								<div>
									{% if expense[0].owner.user %}
									{% if expense[0].owner.user.facebookId %}
									<img src="http://graph.facebook.com/{{expense[0].owner.user.facebookId}}/picture?width=60&height=60" class="img-circle" width="30px" alt="Payer picture" style="position: relative">
									{% else %}
									<img src="{{ asset(expense[0].owner.user.picture.path) }}" class="img-circle" width="30px" alt="Payer picture" style="position: relative">
									{% endif %}
									{% else %}
									<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" width="30px" 	alt="Payer picture" style="position: relative">
									{% endif %}
								</div>
							</td>
							<td id="amount-column">
								<font style="color:#0088CC;">
									{{ expense[0].amount }} {{ currency }}
								</font> 
							</td>
							<td> 
								<div>
									<font style="color:#fb786b;">
										{{ expense[0].name }}
									</font>
								</div>
								<div>
									<p style="margin-bottom:0px;"><font style="color:rgb(140,140,140)">For who: </font> {% for member in expense[0].users %}{{ member.name }},  {% endfor %}</p>
								</div> 
							</td>
							<td id="balance-column">
								{% if expense[1] != 0 %}
								{% if expense[0].owner.user == app.user %}
								<font style="color:rgba(69,69,69,0.6); font-size:10px">
									YOU ARE OWED<br>
								</font>
								<font style="color:rgb(153,179,53); font-weight: bold">
									{{ expense[1] }} {{ currency }}
								</font>
								{% else %}
								<font style="color:rgba(69,69,69,0.6);; font-size: 10px">
									YOU OWE<br>
								</font>
								<font style="color:#fb786b; font-weight: bold">
									{{ -expense[1] }} {{ currency }}
								</font>
								{% endif %}
								{% else %}
									<font style="color:#C8C8C8; font-weight: bold">
										_
									</font>
								{% endif %}
							</td>
							<td id="edit-column">
								<div>
									<a class="edit-button" data-id="{{expense[0].id }}"><i class="icon-edit"></i></a>
									<a class="remove-button" href="{{ path('tk_expense_remove', {'id' : expense[0].id } ) }}"><i class="icon-trash"></i></a>
								</div>
							</td>
						</tr>
						{% endif %}
						<!-- End of differenciation payback/expense -->
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
		</div>
	</div>	
</div>