{% extends '::base.html.twig' %}

{% block head %}
{% block title %}   
{% endblock %}
{% block stylesheets %} 
<link href="{{ asset('css/flat-ui.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('css/frame.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('css/navbar.css') }}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% endblock %}

{% block body %}
<header>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div id="navbar-container" class="container" style="line-height: 24px;">
                <span id="group-dropdown-span">
                    <div class="dropdown">
                        <a class="brand" href="{{ path('tk_user_homepage') }}">
                            <div>Twinkler</div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown-your-groups">
                                <div>
                                    YOUR GROUPS:
                                </div>
                            </li>
                            {% for member in app.user.members %}
                            <li>
                                <a tabindex="-1" href="{{ path('tk_group_switch_member', { 'id' : member.id, 'route' : app.request.attributes.get('_route') }) }}">
                                    <div>{{member.tgroup.name|capitalize}}</div>
                                </a>
                            </li>
                            {% endfor %}
                            <li class="dropdown-start-group">
                                <a tabindex="-1" href="{{ path('tk_group_new') }}">
                                    <div>
                                        <i class="icon-plus-sign"></i> Start a new Group</font>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    {% if app.user.currentMember %}
                    <div id="link-container">
                        <ul class="nav">
                            <li class="divider-vertical">
                            </li>
                            <li>
                                <a href="{{ path('tk_group_homepage') }}">
                                    <div id="nav-group-name">
                                        {{ app.user.currentMember.tgroup.name }}
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </span>
                <div>
                        {% endif %}
                    <ul class="nav pull-right">
                        <li>
                            <a class="navbar-link" href="{{ path('tk_user_homepage') }}">
                                {% if app.user.facebookId %}
                                <img src="http://graph.facebook.com/{{app.user.facebookId}}/picture?width=60&height=60" class="img-circle" width="20px" alt="profile picture">
                                {% else %}
                                <img src="{{ asset(app.user.picture.path) }}" class="img-circle" width="20px" alt="profile picture" style="margin-right: 8px">
                                {% endif %}
                                {{ app.user }}
                            </a>
                        </li>
                        <li> 
                            <a class="navbar-link" href="{{ path('fos_user_security_logout') }}">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
        </div> 
    </div>
</div>  
<div class="container">
    {% block header %}
    {% endblock %}
</div>
{% block selectionmenu %}
{% endblock %}     
</header>

<section id="content" class="frame">
    <div id="content-container" class="container">

        {% block content %}
        {% endblock %}

    </div>
</section>
{% endblock %}
