{% extends '::base.html.twig' %}

{% block head %}
{% block title %}   
{% endblock %}
{% block stylesheets %} 
<link href="{{ asset('css/flat-ui.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('css/frame.css') }}"   rel="stylesheet" type="text/css">
<link href="{{ asset('css/navbar.css') }}"  rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% endblock %}

{% block body %}
<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div id="navbar-container" class="container">
            <div class="dropdown">
                <a class="navbar-brand"  data-target="#" href="{{ path('tk_user_homepage') }}">
                    <div>Twinkler</div>
                </a>
            </div>
            {% if app.user.currentMember %}
            <div id="link-container">
                <ul class="nav navbar-nav nav-group-name-container">
                    <li class="divider-vertical">
                    </li>
                    <li>
                        <a href="{{ path('tk_group_homepage') }}">
                            <button class="btn dropdown-toggle clearfix btn-gp" href="{{ path('tk_group_homepage') }}">
                                <span class="filter-option pull-left">
                                    {{ app.user.currentMember.tgroup.name }}
                                    <span class="caret"/>
                                </span>
                            </button>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="margin-left: 15px;overflow-y: auto; min-height: 111px; max-height: 663px;">
                            <li style="padding: 10px; padding-left: 16px">

                                YOUR GROUPS:

                            </li>
                            <li class="divider"/>
                            {% for member in app.user.members %}
                            <li>
                                <a tabindex="-1" href="{{ path('tk_group_switch_member', { 'id' : member.id, 'route' : app.request.attributes.get('_route') }) }}">
                                    <div>{{member.tgroup.name|capitalize}}</div>
                                </a>
                            </li>
                            {% endfor %}
                            <li class="divider"/>
                            <li>
                                <a tabindex="-1" href="{{ path('tk_group_new') }}">
                                    <i class="icon-plus-sign"></i> START GROUP
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                {% endif %}
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a class="navbar-link" href="{{ path('tk_user_homepage') }}">
                            {% if app.user.facebookId %}
                            <img src="http://graph.facebook.com/{{app.user.facebookId}}/picture?width=60&height=60" class="img-circle" alt="profile picture">
                            {% else %}
                            <img src="{{ asset(app.user.picture.path) }}" class="img-circle" alt="profile picture">
                            {% endif %}
                            {{ app.user }}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-gear icon-large"></i>
                        </a>
                        <ul class="settings-dropdown">
                            <li> 
                                <a class="navbar-link" data-target="feedbackModal" href="">
                                    Feedback
                                </a>
                            </li>
                            <li> 
                                <a class="navbar-link" href="{{ path('fos_user_security_logout') }}">
                                    Logout
                                </a>
                            </li>
                        </ul> <!-- /Sub menu -->
                    </li>
                </ul>
            </div>

        </div>
    </div>  
    <div class="container">
        {% block header %}
        {% endblock %}
    </div>
    {% block selectionmenu %}
    {% endblock %}     
</header>

<section id="content" class="frame">
    <div id="content-container" class="container">

        {% block content %}
        {% endblock %}

    </div>
</section>

<!-- FEEBACK MODAL -->
<div id="feedbackModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Loaded with ajax -->
</div>

<!-- REFRESH SPINNER -->
<img id="spinner" src="{{ asset('img/Frame/spinner.GIF') }}" style="display: none; position: absolute; top: 50%; left: 50%" alt="spinner">

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/frame.js') }}"></script>
{% endblock %}
