{% extends '::base.html.twig' %}

{% block head %}
    {% block title %}   
    {% endblock %}
    {% block stylesheets %} 
    <link href="{{ asset('css/frame.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet" type="text/css">
    {% endblock stylesheets %}
{% endblock %}

{% block body %}
<header>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{{ path('tk_user_homepage') }}">
                Twinkler
            </a>
            {% if app.user.currentMember.tgroup.name %}
            <ul class="nav">
              <li><a href="{{ path('tk_group_homepage') }}">{{ app.user.currentMember.tgroup.name }}</a></li>
            </ul>
            {% endif %}
            <ul class="nav pull-right">
              <li>
                <a href="{{ path('tk_user_homepage') }}">
                    {% if app.user.facebookId %}
                    <img src="http://graph.facebook.com/{{app.user.facebookId}}/picture?width=60&height=60" class="img-circle" width="20px" alt="profile picture">
                    {% else %}
                    <img src="{{ asset(app.user.picture.path) }}" class="img-circle" width="20px" alt="profile picture">
                    {% endif %}
                    {{ app.user }}
                </a>
              </li>
              <li> <a href="{{ path('fos_user_security_logout') }}">Logout</a> </li>
            </ul>
        </div> 
      </div>
    </div>  
    <div class="container-fluid">
        {% block header %}
        {% endblock %}
    </div>
    {% block selectionmenu %}
    {% endblock %}     
</header>

<section id="content" class="frame">
    <div id="content-container" class="container">

        {% block content %}
        {% endblock %}

    </div>
</section>
{% endblock %}
