<form class="edit-group-info-accordion" action="{{ path('tk_group_edit') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    <div>
    {{ form_errors(form.name) }}
	{{ form_widget(form.name) }}

    {{ form_errors(form.currency) }}
    {{ form_widget(form.currency) }}
    </div>

    {{ form_rest(form) }}

    <input class="btn btn-success" type="submit" />
    <a class="btn cancel-action">Cancel</a>
</form>