{% extends 'TkUserBundle::frame.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/add-members.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block header %}
<div id="second-row-big" class="row min-770" style="position: relative">
	<div id="group">
		<div id="pictures">

			<table>
				<tr>
					{% for member in app.user.currentMember.tgroup.members %}
					<td>
						<div class="member">
							{% if member.facebookId %}
								<img src="http://graph.facebook.com/{{member.facebookId}}/picture?width=100&height=100" class="img-circle" alt="{{ member.name }}" style="position: relative">
							{% elseif member.user %}
								<img src="{{ asset(member.user.picture.path) }}" class="img-circle" alt="{{ member.name }}" style="position: relative">
							{% else %}
								<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" alt="{{ member.name }}" style="position: relative">
							{% endif %}
						</div>						
					</td>
					{% endfor %}
				</tr>
				<tr>
					{% for member in app.user.currentMember.tgroup.members %}
					<td class="member-name-row">
						<div class="member">
							<p>{{ member.name }}</p>
						</div>
					</td>
					{% endfor %}
				</tr>
			</table>

		</div>
	</div>	
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div id="flash-message-block" class="col-md-6 col-md-offset-3" style="text-align: center">
	</div>
</div>
<div class="new-group row" style="text-align: center">
	<div class="col-md-6 col-md-offset-3">

		<div class="section-header">
			<div class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
				</div>            
				<div class="navbar-collapse collapse" id="nav-collapse-01">
					<ul class="nav">
						<li>
							<h2>Add members to the group <b>{{ app.user.currentMember.tgroup.name|upper }}</b></h2>
						</li>
					</ul>
				</div><!--/.nav -->
			</div>

			{% if not app.user.facebookId %}

			<div class='flat-container invite'>
				<p>As many of you asked for, we now use Facebook to invite friends in a tap on Twinkler. If you have any question about this switch, feel free to get in touch with us :)</p>
				<p>Please, link your Facebook account to add your friends</p>
				<a class="btn btn-info" id="facebook-login" onclick="fbLogin()">
					<img src="{{ asset('img/landing-page/facebook-icon.png') }}" alt="Connect with Facebook" width="18px">Connect with Facebook
				</a>
			</div>

			{% else %}

			<div class="flat-container add-new-member">

				<input type="text" placeholder="Filter by name ..." id="friend-input">

				<div id="friend-table">
					<table style="border: none">
						<tbody style="border-color: red">
						</tbody>
					</table>
				</div>
				<div class="flat-footer">
					<a id="add-validate" href="{{ path('tk_group_add_validate') }}">
						<div class="btn btn-success">Validate and Continue</div>
					</a>
				</div>
			</div>	

			{% endif %}

		</div>
	</div>

	{% endblock %}

	{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/add-members.js')}}"></script>
	{% endblock %}
