{% extends 'TkUserBundle::frame.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/add-members.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block header %}
<div id="second-row-big" class="row" style="position: relative">
	<div id="group" class="col-md-10 col-md-offset-1">
		{% for member in app.user.currentMember.tgroup.members %}
		{% if member.user %}
		<div class="member">
			{% if member.user.facebookId %}
			<img src="http://graph.facebook.com/{{member.user.facebookId}}/picture?width=100&height=100" class="img-circle" alt="{{ member.name }}" style="position: relative">
			{% else %}
			<img src="{{ asset(member.user.picture.path) }}" class="img-circle" alt="{{ member.name }}" style="position: relative">
			{% endif %}
			<p style="color: rgb(121,136,151);text-shadow:  white 0px 1px 0px;">{{ member.name }}</p>
		</div> 
		{% else %}
		<div class="member">
			<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" alt="{{ member.name }}" style="position: relative">
			<p style="color: rgb(121,136,151);text-shadow: white 0px 1px 0px;">{{ member.name }}</p>
		</div>
		{% endif %}
		{% endfor %}
	</div>	
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div id="flash-message-block" class="col-md-6 col-md-offset-3" style="text-align: center">
	</div>
</div>
<div class="new-group row" style="text-align: center">
	<div class="col-md-6 col-md-offset-3">

		<div class="section-header">
			<div class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
				</div>            
				<div class="navbar-collapse collapse" id="nav-collapse-01">
					<ul class="nav">
						<li>
							<h2>Add members to the group <b>{{ app.user.currentMember.tgroup.name|upper }}</b></h2>
						</li>
					</ul>
				</div><!--/.nav -->
			</div>

			<div class="flat-container">
				<div class="row" style="margin-top: 5px">
					<div class="col-md-12" id="add-member-block">
						{% render(controller('TkGroupBundle:Default:addMember')) %}
					</div>
				</div>
				<div class="flat-footer">
					<a id="add-validate" href="{{ path('tk_group_add_validate') }}">
						<div class="btn btn-success">Continue and Send Invitations</div>
					</a>
				</div>
			</div>	
		</div>
	</div>
			<div class="col-md-3 quick-add" id="add-friend-block">
				{% render controller('TkUserBundle:Friends:inviteFriends') %}
			</div>

	{% endblock %}

	{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/add-members.js')}}"></script>
	{% endblock %}
